@tailwind base;
@tailwind components;
@tailwind utilities;
@import "icons";
@font-face {
	font-family: "TeX Gyre Pagella";
	src: url("/fonts/texgyrepagella-regular.woff");
}
@font-face {
	font-family: "TeX Gyre Pagella";
	src: url("/fonts/texgyrepagella-italic.woff");
	font-style: italic;
}
@font-face {
	font-family: "TeX Gyre Pagella";
	src: url("/fonts/texgyrepagella-italic.woff");
	font-style: oblique;
}
@font-face {
	font-family: "TeX Gyre Pagella";
	src: url("/fonts/texgyrepagella-bold.woff");
	font-weight: bold;
}
@font-face {
	font-family: "TeX Gyre Pagella";
	src: url("/fonts/texgyrepagella-bolditalic.woff");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "TeX Gyre Pagella";
	src: url("/fonts/texgyrepagella-bolditalic.woff");
	font-weight: bold;
	font-style: oblique;
}
@font-face {
	font-family: "TeX Gyre Cursor";
	src: url("/fonts/texgyrecursor-regular.woff");
}
@font-face {
	font-family: "TeX Gyre Cursor";
	src: url("/fonts/texgyrecursor-italic.woff");
	font-style: italic;
}
@font-face {
	font-family: "TeX Gyre Cursor";
	src: url("/fonts/texgyrecursor-italic.woff");
	font-style: oblique;
}
@font-face {
	font-family: "TeX Gyre Cursor";
	src: url("/fonts/texgyrecursor-bold.woff");
	font-weight: bold;
}
@font-face {
	font-family: "TeX Gyre Cursor";
	src: url("/fonts/texgyrecursor-bolditalic.woff");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "TeX Gyre Cursor";
	src: url("/fonts/texgyrecursor-bolditalic.woff");
	font-weight: bold;
	font-style: oblique;
}
$black: #000000;
$white: #ffffff;
$a1: #606060;
$a2: #808080;
$a3: #e0e0e0;
$greying: contrast(0%);
.editicon, .greyed_editicon, .addicon, .greyed_addicon, .deleteicon,
.greyed_deleteicon, .arrowupicon, .greyed_arrowupicon, .arrowdownicon,
.greyed_arrowdownicon, .syncicon, .greyed_syncicon, .checkicon, .zoominicon,
.zoomouticon {
	width: 16px;
	height: 16px;
	display: inline-block;
	@apply .ml-1 .mr-1 .align-middle .bg-no-repeat .bg-center
}

.greyed_editicon, .greyed_addicon, .greyed_deleteicon, .greyed_arrowupicon,
.greyed_arrowdownicon .greyed_syncicon {
	filter: $greying;
}
.editicon, .greyed_editicon {
	background-image: $edit_icon;
}
.addicon, .greyed_addicon, .addligicon {
	background-image: $add_icon;
}
.addligiconinvert {
	background-image: $add_icon_invert;
}
.deleteicon, .greyed_deleteicon {
	background-image: $delete_icon;
}
.arrowupicon, .greyed_arrowupicon {
	background-image: $arrowdown_icon;
}
.arrowdownicon, .greyed_arrowdownicon {
	background-image: $arrowup_icon;
}
.syncicon, .greyed_syncicon {
	background-image: $sync_icon;
}
.checkicon {
	background-image: $check_icon;
}
.zoominicon {
	background-image: $zoomin_icon;
}
.zoomouticon {
	background-image: $zoomout_icon;
}
.accidentalicon, .accidentaliconinvert, .binicon, .cameraicon,
.cameraiconinvert, .cleficon, .cleficoninvert, .clefcicon, .clefdicon,
.clefficon, .clefaicon, .divisioneicon, .divisioneiconinvert, .flaticon,
.gearicon, .multiicon, .multiiconinvert, .refreshicon, .saveicon, .sharpicon,
.stafflineicon, .stafflineiconinvert, .syllableicon, .syllableiconinvert,
.texticon, .virgaicon, .virgaiconinvert, .xmlicon, .meiicon, .abcicon,
.svgicon, .progress-dial {
	width: 32px;
	height: 32px;
	@apply .ml-1 .mr-1 .align-middle .inline-block .bg-no-repeat .bg-center
}
.newligicon, .addligicon, .addligiconinvert {
	width: 16px;
	height: 32px;
	@apply .ml-1 .mr-1 .align-middle .inline-block .bg-no-repeat .bg-center
}
.newligicon {
	background-image: $ligature_icon;
}
.accidentalicon {
	background-image: $accidental_icon;
}
.accidentaliconinvert {
	background-image: $accidental_icon_invert;
}
.binicon {
	background-image: $bin_icon;
}
.cameraicon {
	background-image: $camera_icon;
}
.cameraiconinvert {
	background-image: $camera_icon_invert;
}
.cleficon {
	background-image: $clef_g_icon;
}
.cleficoninvert {
	background-image: $clef_g_icon_invert;
}
.clefcicon {
	background-image: $clef_c_icon;
}
.clefdicon {
	background-image: $clef_d_icon;
}
.clefficon {
	background-image: $clef_f_icon;
}
.clefaicon {
	background-image: $clef_a_icon;
}
.divisioneicon {
	background-image: $divisione_icon;
}
.divisioneiconinvert {
	background-image: $divisione_icon_invert;
}
.flaticon {
	background-image: $flat_icon;
}
.gearicon {
	background-image: $gear_icon;
}
.multiicon {
	background-image: $multi_icon;
}
.multiiconinvert {
	background-image: $multi_icon_invert;
}
.refreshicon {
	background-image: $refresh_icon;
}
.saveicon {
	background-image: $save_icon;
}
.sharpicon {
	background-image: $sharp_icon;
}
.stafflineicon {
	background-image: $staffline_icon;
}
.stafflineiconinvert {
	background-image: $staffline_icon_invert;
}
.syllableicon {
	background-image: $syllable_icon;
}
.syllableiconinvert {
	background-image: $syllable_icon_invert;
}
.texticon {
	background-image: $text_icon;
}
.virgaicon {
	background-image: $virga_icon;
}
.virgaiconinvert {
	background-image: $virga_icon_invert;
}
.xmlicon {
	background-image: $xml_icon;
}
.meiicon {
	background-image: $mei_icon;
}
.abcicon {
	background-image: $abc_icon;
}
.svgicon {
	background-image: $svg_icon;
}
a {
	@apply .text-black .no-underline
}
a:link, a:visited {
	@apply .text-black .no-underline
}

a:hover, a:active {
	@apply .text-gray-600 .underline
}
header {
	background-image: url('/img/header.jpg');
}
h1 {
	@apply .text-4xl
}

h2 {
	@apply .text-2xl
}
h3 {
	@apply .text-xl
}
h4 {
	@apply .text-lg
}
h5 {
	@apply .text-base
}
ul.nav li:after {
	content: ":";
}
ul.nav li:last-child:after {
	content: "";
}
button {
	@apply .bg-blue-500 .text-white .font-bold .py-2 .px-4 .rounded .text-xs
.border-none .box-content .inline .h-5 .w-20 .inline-block
.text-center
}
button:hover {
	@apply .bg-blue-700
}
button:disabled {
	@apply .opacity-50 .cursor-not-allowed
}
.red-btn, {
	@apply .bg-red-800
}
.red-btn:hover {
	@apply .bg-red-900
}
select {
	@apply .block .text-gray-400 .bg-white .border .border-black .ml-2
}
select:focus {
	@apply .text-black .border-none .outline-none
}
input[type=text] {
	@apply .block .text-gray-400 .bg-white .border .border-black .ml-2
}
input[type=number] {
	@apply .text-gray-400 .bg-white .border .border-black .ml-2
}
input[type=text]:focus {
	@apply .text-black 
}
input[type=number]:focus {
	@apply .text-black
}
thead {
	@apply .border-b .border-black .mb-2
}
th, td {
	@apply .px-2
}
hr {
	@apply .border .border-black .mt-2
}
input[type=checkbox].editor-checkbox:checked + span {
	@apply .text-white .bg-black
}
input[type=checkbox].editor-checkbox:not(:checked) + span .checked-visible {
	@apply .hidden
}
input[type=checkbox].editor-checkbox:checked + span .unchecked-visible {
	@apply .hidden
}

.editor-options-pane {
	@apply .bg-gray-300 .rounded .mt-1 .p-2
}
.editor-options-pane fieldset {
	@apply .border .border-black .m-1 .inline-block .p-1 .rounded
}
.editor-options-pane label {
	@apply .border .border-black .m-1 .inline-block .p-1 .rounded
}
.editor-options-pane label > span {
	@apply .m-auto
}
.editor-options-pane label > span:first-child, .editor-options-pane legend {
	@apply .capitalize
}
.editor-options-pane legend {
	@apply .capitalize .pl-1 .pr-1
}
.editor-options-pane label > span:first-child::after {
	content: ":";
	@apply .mr-1
}
.editor-options-pane input {
	@apply .inline-block
}
.dial-000-percent {
	background-image: $dial-000-percent;
}
.dial-001-percent {
	background-image: $dial-001-percent;
}
.dial-002-percent {
	background-image: $dial-002-percent;
}
.dial-003-percent {
	background-image: $dial-003-percent;
}
.dial-004-percent {
	background-image: $dial-004-percent;
}
.dial-005-percent {
	background-image: $dial-005-percent;
}
.dial-006-percent {
	background-image: $dial-006-percent;
}
.dial-007-percent {
	background-image: $dial-007-percent;
}
.dial-008-percent {
	background-image: $dial-008-percent;
}
.dial-009-percent {
	background-image: $dial-009-percent;
}
.dial-010-percent {
	background-image: $dial-010-percent;
}
.dial-011-percent {
	background-image: $dial-011-percent;
}
.dial-012-percent {
	background-image: $dial-012-percent;
}
.dial-013-percent {
	background-image: $dial-013-percent;
}
.dial-014-percent {
	background-image: $dial-014-percent;
}
.dial-015-percent {
	background-image: $dial-015-percent;
}
.dial-016-percent {
	background-image: $dial-016-percent;
}
.dial-017-percent {
	background-image: $dial-017-percent;
}
.dial-018-percent {
	background-image: $dial-018-percent;
}
.dial-019-percent {
	background-image: $dial-019-percent;
}
.dial-020-percent {
	background-image: $dial-020-percent;
}
.dial-021-percent {
	background-image: $dial-021-percent;
}
.dial-022-percent {
	background-image: $dial-022-percent;
}
.dial-023-percent {
	background-image: $dial-023-percent;
}
.dial-024-percent {
	background-image: $dial-024-percent;
}
.dial-025-percent {
	background-image: $dial-025-percent;
}
.dial-026-percent {
	background-image: $dial-026-percent;
}
.dial-027-percent {
	background-image: $dial-027-percent;
}
.dial-028-percent {
	background-image: $dial-028-percent;
}
.dial-029-percent {
	background-image: $dial-029-percent;
}
.dial-030-percent {
	background-image: $dial-030-percent;
}
.dial-031-percent {
	background-image: $dial-031-percent;
}
.dial-032-percent {
	background-image: $dial-032-percent;
}
.dial-033-percent {
	background-image: $dial-033-percent;
}
.dial-034-percent {
	background-image: $dial-034-percent;
}
.dial-035-percent {
	background-image: $dial-035-percent;
}
.dial-036-percent {
	background-image: $dial-036-percent;
}
.dial-037-percent {
	background-image: $dial-037-percent;
}
.dial-038-percent {
	background-image: $dial-038-percent;
}
.dial-039-percent {
	background-image: $dial-039-percent;
}
.dial-040-percent {
	background-image: $dial-040-percent;
}
.dial-041-percent {
	background-image: $dial-041-percent;
}
.dial-042-percent {
	background-image: $dial-042-percent;
}
.dial-043-percent {
	background-image: $dial-043-percent;
}
.dial-044-percent {
	background-image: $dial-044-percent;
}
.dial-045-percent {
	background-image: $dial-045-percent;
}
.dial-046-percent {
	background-image: $dial-046-percent;
}
.dial-047-percent {
	background-image: $dial-047-percent;
}
.dial-048-percent {
	background-image: $dial-048-percent;
}
.dial-049-percent {
	background-image: $dial-049-percent;
}
.dial-050-percent {
	background-image: $dial-050-percent;
}
.dial-051-percent {
	background-image: $dial-051-percent;
}
.dial-052-percent {
	background-image: $dial-052-percent;
}
.dial-053-percent {
	background-image: $dial-053-percent;
}
.dial-054-percent {
	background-image: $dial-054-percent;
}
.dial-055-percent {
	background-image: $dial-055-percent;
}
.dial-056-percent {
	background-image: $dial-056-percent;
}
.dial-057-percent {
	background-image: $dial-057-percent;
}
.dial-058-percent {
	background-image: $dial-058-percent;
}
.dial-059-percent {
	background-image: $dial-059-percent;
}
.dial-060-percent {
	background-image: $dial-060-percent;
}
.dial-061-percent {
	background-image: $dial-061-percent;
}
.dial-062-percent {
	background-image: $dial-062-percent;
}
.dial-063-percent {
	background-image: $dial-063-percent;
}
.dial-064-percent {
	background-image: $dial-064-percent;
}
.dial-065-percent {
	background-image: $dial-065-percent;
}
.dial-066-percent {
	background-image: $dial-066-percent;
}
.dial-067-percent {
	background-image: $dial-067-percent;
}
.dial-068-percent {
	background-image: $dial-068-percent;
}
.dial-069-percent {
	background-image: $dial-069-percent;
}
.dial-070-percent {
	background-image: $dial-070-percent;
}
.dial-071-percent {
	background-image: $dial-071-percent;
}
.dial-072-percent {
	background-image: $dial-072-percent;
}
.dial-073-percent {
	background-image: $dial-073-percent;
}
.dial-074-percent {
	background-image: $dial-074-percent;
}
.dial-075-percent {
	background-image: $dial-075-percent;
}
.dial-076-percent {
	background-image: $dial-076-percent;
}
.dial-077-percent {
	background-image: $dial-077-percent;
}
.dial-078-percent {
	background-image: $dial-078-percent;
}
.dial-079-percent {
	background-image: $dial-079-percent;
}
.dial-080-percent {
	background-image: $dial-080-percent;
}
.dial-081-percent {
	background-image: $dial-081-percent;
}
.dial-082-percent {
	background-image: $dial-082-percent;
}
.dial-083-percent {
	background-image: $dial-083-percent;
}
.dial-084-percent {
	background-image: $dial-084-percent;
}
.dial-085-percent {
	background-image: $dial-085-percent;
}
.dial-086-percent {
	background-image: $dial-086-percent;
}
.dial-087-percent {
	background-image: $dial-087-percent;
}
.dial-088-percent {
	background-image: $dial-088-percent;
}
.dial-089-percent {
	background-image: $dial-089-percent;
}
.dial-090-percent {
	background-image: $dial-090-percent;
}
.dial-091-percent {
	background-image: $dial-091-percent;
}
.dial-092-percent {
	background-image: $dial-092-percent;
}
.dial-093-percent {
	background-image: $dial-093-percent;
}
.dial-094-percent {
	background-image: $dial-094-percent;
}
.dial-095-percent {
	background-image: $dial-095-percent;
}
.dial-096-percent {
	background-image: $dial-096-percent;
}
.dial-097-percent {
	background-image: $dial-097-percent;
}
.dial-098-percent {
	background-image: $dial-098-percent;
}
.dial-099-percent {
	background-image: $dial-099-percent;
}
.dial-100-percent {
	background-image: $dial-100-percent;
}
.spinner {
	@apply animate-spin -ml-1 mr-3 h-5 w-5 text-white
}
.spinner circle {
	@apply opacity-25
}
.spinner circle path {
	@apply opacity-75
}
