{% extends 'home.twig' %}
{% block title %}
	Confirm Action
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
	<div class="flex align-center flex-col justify-center w-full">
		<div class="w-64 m-auto text-center">
			<div class="text-left bg-orange-100 border-l-4 border-orange-400 text-orange-400 inline-block p-4 m-auto mt-4 mb-4 w-auto" role="alert">
				<p class="font-bold">{{ tstr }}</p>
				<p>{{ message }}</p>
			</div>
		</div>
		<div class="flex justify-center w-full">
			<form class="inline" action="{{path_for(yes.route, yes.args)}}" method="get">
				<button class="m-auto mr-1" type="submit">Yes</button>
			</form>
			<form class="inline" action="{{path_for(no.route, no.args)}}" method="get">
				<button class="m-auto ml-1" type="submit">No</button>
			</form>
		</div>
	</div>
{% endblock %}
