<header class="bg-black bg-repeat-y bg-contain bg-fixed h-15 flex items-stretch shadow-lg mb-2">
	<div class="flex flex-grow items-center shadow-lg">
		<div class="logo text-center text-5xl italic px-4 -mt-2">
			<a class="text-white font-bold" href="{{path_for('index')}}">Candr</a>
		</div>
		<ul class="inline items-center flex text-2xl">
			<li class="mr-2 inline-block"><a class="text-white" href="{{path_for('about')}}">About</a></li>
			<li class="mr-2 inline-block"><a class="text-white" href="{{path_for('root')}}">Browse</a></li>
			<li class="mr-2 inline-block"><a class="text-white" href="{{path_for('transcription')}}">Transcription</a></li>
		</ul>
	</div>
	<div class="flex items-center mr-2 px-4">
		<ul class="inline items-center flex text-2xl -mt-1">
			<li class="mr-2 inline-block relative w-56 self-start mr-6">
				<form class="absolute w-full" target="_blank" method="get" action="/search"/>
					<input type="text" name="q" class="absolute shadow appearance-none border rounded w-full pb-1 pt-1 pr-3 pl-8 text-black-900 leading-tight focus:outline-none focus:shadow-outline" placeholder="Search"/>
				</form>	
				<div class="absolute m-3 pl-1">
					<svg class="fill-current pointer-events-none text-gray-600 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path></svg>
				</div>
			</li>
			{% if not loggedin %}
				<li class="mr-2 inline-block"><a class="text-white" href="{{path_for('login')}}">Login</a></li>
			{% else %}
				<li class="mr-2 inline-block"><a class="text-white" href="{{path_for('logout')}}">Logout</a></li>
			{% endif %}
		</ul>
	</div>
</header>
