{% from '_partials/processstr.twig' import processstr %}
<!DOCTYPE html>
<html style="font-size:16px;" lang="en" prefix="dc: http://purl.org/dc/elements/1.1/
	candr: https://candr.org.uk/">
	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>Clausula Archive of the Notre Dame Repertory |
				{% block title %}
					Home
				{% endblock %}
			</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
			<link rel="manifest" href="/site.webmanifest">
			<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
			<meta name="apple-mobile-web-app-title" content="CANDR">
			<meta name="application-name" content="CANDR">
			<meta name="msapplication-TileColor" content="#2d89ef">
			<meta name="msapplication-TileImage" content="/mstile-144x144.png">
			<meta name="theme-color" content="#ffffff">
		{% endblock %}
	</head>
	<body class="font-serif m-0 bg-white text-black">
		{% include 'header.twig' %}
		<div id="page" class="mr-3 ml-3">
			{% block transcribingWizard %}
				{% if loggedin and loggedin.transcribing %}
					<div class="w-full">
						<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
							<p class="font-bold">	
								Transcribing Wizard
							</p>
							{% block transcribingMessage %}
								<p>
									Continue transcribing
									{% if loggedin.transcribing.model_id == 'system' %}
										System
									{%- elseif loggedin.transcribing.model_id == 'stave' %}
										Stave
									{%- else %}
										{{processstr(loggedin.transcribing.name)-}}
									{%- endif -%}
									?
								</p>
								<div class="text-center mt-2">
									<form class="inline" action="{{path_for(loggedin.transcribing.view_path, {'id': loggedin.transcribing.id})}}">
										<button class="m-auto" type="submit">Yes</button>
									</form>
									<form class="inline" action="{{path_for('clear_transcribe')}}">
										<button class="m-auto" type="submit">No</button>
									</form>
								</div>	
							{% endblock %}
						</div>
					</div>
				{% else %}
					{% block wizardStartTranscribe %}
					{% endblock %}
				{% endif %}
			{% endblock %}
			{% block body %}
				<h1>Recent activity</h1>
				<ul>
					{% for stave in recent_staves %}
						<li>
							<a href="{{path_for('view_stave', {'id': stave.id})}}">
								Stave of Folio {{processstr(stave.folio.name)}}, updated {{stave.updated_at|timeago}}.
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endblock %}
			<hr/>
			<ul class="nav mt-1 block italic text-xs">
				{% apply spaceless %}
					{% block nav %}
						{% for routename, data in up %}
							{% if data %}
								<li class="inline-block relative mr-1"><a class="no-underline hover:underline active:underline" href="{{path_for(routename, {'id': data.id})}}">
									{% if routename == 'view_system' %}
										System
									{% elseif routename == 'view_stave' %}
										Stave
									{% else %}
										{{processstr(data.name)}}
									{% endif %}
								</a></li>
							{% endif %}
						{% endfor %}
					{% endblock %}
				{% endapply %}
			</ul>
		</div>
	</body>
</html>
