<!DOCTYPE html>
<html style="font-size:16px;">
	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>Clausula Archive of the Notre Dame Repertory |
				{% block title %}
					Logging out...
				{% endblock %}
			</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>
			<script>
				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function() {
					if(this.readyState != 4) return;
					window.location.replace("{{redirect}}");	
				};
				xhr.open("POST", "{{path_for('give401')}}", true);
				xhr.send('');
			</script>
		{% endblock %}
	</head>
	<body class="font-serif m-0 bg-white text-black">
		<div id="page" class="mr-3 ml-3">
			{% block body %}
				<div>Logging out...</div>
			{% endblock %}
		</div>
	</body>
</html>
