{% extends 'home.twig' %}
{% block title %}
	Action Result
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
	{% set tstr = 'Unknown' %}
	{% set bgcol = 'bg-white' %}
	{% set txtcol = 'text-black' %}
	{% set bordercol = 'border-black' %}
	{% if type == 'error' %}
		{% set tstr = 'Error' %}
		{% set bgcol = 'bg-red-100' %}
		{% set txtcol = 'text-red-400' %}
		{% set bordercol = 'border-red-400' %}
	{% elseif type == 'warning' %}
		{% set tstr = 'Warning' %}
		{% set bgcol = 'bg-orange-100' %}
		{% set txtcol = 'text-orange-400' %}
		{% set bordercol = 'border-orange-400' %}
	{% elseif type == 'success' %}
		{% set tstr = 'Success' %}
		{% set bgcol = 'bg-green-100' %}
		{% set txtcol = 'text-green-400' %}
		{% set bordercol = 'border-green-400' %}
	{% elseif type == 'information' %}
		{% set tstr = 'Information' %}
		{% set bgcol = 'bg-blue-100' %}
		{% set txtcol = 'text-blue-400' %}
		{% set bordercol = 'border-blue-400' %}
	{% endif %}
	<form class="inline" action="{{path_for(routename, options)}}" method="get">
		<div class="flex align-center flex-col justify-center w-full">
			<div class="w-64 m-auto text-center">
				<div class="text-left {{ bgcol }} border-l-4 {{ bordercol }} {{ txtcol }} inline-block p-4 m-auto mt-4 mb-4 w-auto" role="alert">
					<p class="font-bold">{{ tstr }}</p>
					<p>{{ message }}</p>
				</div>
			</div>
			<button class="m-auto" type="submit">Continue</button>
		</div>
	</form>
{% endblock %}
