{% extends 'home.twig' %}
{% block title %}Transcription{% endblock %}
{% block body %}
	<h1>Transcription</h1>
	<table>
		<tr>
			<td class="font-bold">Facsimiles:</td>
			<td>{{ n_facsimiles }}</td>
			<td class="italic">{{ per_transcribed_facsimiles }}&percnt; transcribed</td>
			<td>{{ n_facsimiles_no_systems }} facsimiles without systems</td>
		</tr>
		<tr>
			<td class="font-bold">Systems:</td>
			<td>{{ n_systems }}</td>
			<td class="italic">{{ per_transcribed_systems }}&percnt; transcribed</td>
			<td>{{ n_systems_no_staves }} systems without staves</td>
		</tr>
			<td class="font-bold">Staves:</td>
			<td>{{ n_staves }}</td>
			<td class="italic">{{ per_transcribed_staves }}&percnt; transcribed</td>
			<td>{{ n_omr }} ({{ per_omr_staves }}&percnt;) untranscribed processed with OMR</td>
		</tr>
	</table>
{% endblock %}
