{% extends 'edit/_partials/string.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{{processstr(record.name) | striptags}} | Edit archive
{% endblock %}
{% block viewurl %}
	{{- path_for('view_source', {'id': record.id}) -}}
{% endblock %}
{% block submiturl %}
	{{- path_for('set_source_archive', {'id': record.id}) -}}
{% endblock %}
{% block header %}
	Editing Archive of Source &ldquo;<a href="{{ block('viewurl')}}">{{processstr(record.name)}}</a>&rdquo;
{% endblock %}
{% block inputlabel %}
	Archive (as RDF URL):
{% endblock %}
{% block currentvalue %}
	{{- record.archive -}}
{% endblock %}
