{% extends 'edit/_partials/down.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{{processstr(record.name) | striptags}} | Edit Folios
{% endblock %}
{% block viewurl %}
	{{- path_for('view_source', {'id': record.id}) -}}
{% endblock %}
{% block header %}
	Editing Folios of <a href="{{ block('viewurl') }}">{{ processstr(record.name) }}</a>
{% endblock %}
{% block transcribingMessage %}
	{% if loggedin and loggedin.transcribing and loggedin.transcribing.model_id == 'source' and loggedin.transcribing.id == record.id %}
		{% if folios|length == 0 %}
			<p>Define some folios to begin transcribing</p>
		{% else %}	
			{% set firstFol = folios|first %}
			{% for folio in folios %}
				{% if firstFol.transcribed %}
					{% set firstFol = folio %}
				{% endif %}
			{% endfor %}
			{% if firstFol.transcribed %}
				<p>All folios are transcribed. Mark source as transcribed?</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('set_transcribe_source', {'id': record.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% else %}
				<p>
					Start transcribing folios?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_folio', {'id': firstFol.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block wizardStartTranscribe %}
	{% if loggedin and not loggedin.transcribing and not source.transcribed %}
		<div class="w-full">
			<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
				<p class="font-bold">	
					Transcribing Wizard
				</p>
				<p>
					Start transcribing here?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_source', {'id': record.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>	
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block loop %}
	{% if folios is not empty %}
		<h2>Current folios:</h2>
		<table>
			<thead>
				<tr>
					<th>Folio</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for folio in folios %}
					<tr>
						<td>
							<a href="{{path_for('view_folio', {'id': folio.id})}}">{{processstr(folio.name)}}</a>
						</td>
						<td>
							{% include '_partials/editicon.twig' with {'routename': 'remove_source_folio', 'options': {'id': record.id, 'tid': folio.id}, 'icon': 'delete'} %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h2><i>No folios</i></h2>
	{% endif %}
	<h3>Add new folio:</h3>
	<ul>
		{% if others is not empty %}
			{% for option in others %}
				<li>
					<a href="{{path_for('view_folio', {'id': option.id})}}">{{processstr(option.name)}}</a>
					{% include '_partials/editicon.twig' with {'routename': 'add_source_folio', 'options': {'id': record.id, 'tid': option.id}, 'icon': 'add'} %}
				</li>
			{% endfor %}
		{% else %}
			<p>No other folios</p>
		{% endif %}
		{% include '_partials/editicon.twig' with {'routename': 'add_source_new_folio', 'options': {'id': record.id}, 'icon': 'add'} %}
	</ul>
{% endblock %}
