{% extends 'home.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block nav %}
{% endblock %}
{% block title %}
	{{processstr(record.name) | striptags }} | Edit Copyright
{% endblock %}
{% block viewurl %}
	{{- path_for('view_facsimileset', {'id': record.id}) -}}
{% endblock %}
{% block submiturl %}
	{{- path_for('set_facsimileset_copyright', {'id': record.id}) -}}
{% endblock %}
{% block body %}
	<h1>
		{% block header %}
			Editing Copyright of Facsimile Set &ldquo;<a href="{{ block('viewurl')}}">{{processstr(record.name)}}</a>&rdquo;
		{% endblock %}
	</h1>
	<form method="post" class="inline" action="{{ block('submiturl') }}">
		<table>
			<tr>
				<td>
					Copyright Notice:
				</td>
				<td>
					<textarea class="whitespace-pre font-mono overflow-scroll" name="value_copyright_notice">
						{{- record.copyright_notice|e('html') -}}
					</textarea>
				</td>
			</tr>
			<tr>
				<td>
					Copyright URL:
				</td>
				<td>
					<input type="text" name="value_copyright_url" value="{{ record.copyright_url|e('html_attr') }}"/>
				</td>
			</tr>
		</table>
		<button type="submit">Submit</button>
	</form>
	<form method="get" class="inline" action="{{block('viewurl')}}">
		<button class="red-btn" type="submit">Cancel</button>
	</form>
{% endblock %}
