{% extends 'edit/_partials/down.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{{processstr(record.name) | striptags }} | Edit Facsimiles
{% endblock %}
{% block viewurl %}
	{{- path_for('view_facsimileset', {'id': record.id}) -}}
{% endblock %}
{% block header %}
	Editing Facsimiles of <a href="{{ block('viewurl') }}">{{ processstr(record.name) }}</a>
{% endblock %}
{% block loop %}
	{% if facsimiles is not empty %}
		<h2>Current facsimiles:</h2>
		<table>
			<thead>
				<tr>
					<th>Folio</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for facsimile in facsimiles %}
					<tr>
						<td>
							<a href="{{path_for('view_facsimile', {'id': facsimile.id})}}">{{processstr(facsimile.name)}}</a>
						</td>
						<td>
							{% include '_partials/editicon.twig' with {'routename': 'remove_facsimileset_facsimile', 'options': {'id': record.id, 'tid': facsimile.id}, 'icon': 'delete'} %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h2><i>No facsimiles</i></h2>
	{% endif %}
	<h3>Add new facsimile:</h3>
	<ul>
		{% if others is not empty %}
			{% for option in others %}
				<li>
					<a href="{{path_for('view_facsimile', {'id': option.id})}}">{{processstr(option.name)}}</a>
					{% include '_partials/editicon.twig' with {'routename': 'add_facsimileset_facsimile', 'options': {'id': record.id, 'tid': option.id}, 'icon': 'add'} %}
				</li>
			{% endfor %}
		{% else %}
			<p>No other facsimiles</p>
		{% endif %}
	</ul>
{% endblock %}
