{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{%- if set.name -%}
		{{- processstr(set.name) | striptags -}}
	{%- endif -%}
{% endblock %}
{% block head %}
	{{ parent() }}
	<meta typeof="candr:FacsimileSet"/>
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_facsimileset', {'id': set.id})}}">{{processstr(set.name)}}</a></li>
{% endblock %}
{% block header %}
	<a href="{{path_for('list_facsimilesets')}}">{{processstr(set.name)}}</a>
	{% include '_partials/editicon.twig' with {'routename': 'edit_facsimileset_title', 'options':{'id': set.id}} %}
	{% include '_partials/editicon.twig' with {'routename': 'delete_facsimileset', 'options': {'id': set.id}, 'icon': 'delete'} %}
{% endblock %}
{% block editparent %}
	{% include '_partials/copyright.twig' with {'set': set} %}
{% endblock %}
{% block downheader %}
	Facsimiles:
	{% include '_partials/editicon.twig' with {'routename': 'edit_facsimileset_facsimiles', 'options': {'id': set.id}} %}
{% endblock %}
{% block list %}
	{% if down %}
		{% from '_partials/render_image.twig' import render_image %}
		{% for facsimile in down %}
			<a class="inline-block align-middle" rel="candr:contains" typeof="candr:Facsimile" href="{{path_for('view_facsimile', {'id': facsimile.id})}}">
				<div class="inline-block align-middle max-w-xs h-64 rounded overflow-hidden shadow-lg flex flex-col mb-2">
					<div class="inline-block align-middle h-auto overflow-hidden w-auto flex flex-col items-center justify-center">
						<img class="w-full h-auto flex-1" src="{{ render_image(facsimile.id, 'thumb') }}" alt="Placeholder image"/>
					</div>
					<div class="px-6 py-4">
						<div class="font-bold mb-2">{{processstr(facsimile.name)}}</div>
					</div>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<h3><i>No facsimiles</i></h3>
	{% endif %}
{% endblock %}
