{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/numTranscribed.twig' import numTranscribed %}
{% block title %}
	{%- if facsimile.name -%}
		{{- processstr(facsimile.name) | striptags -}}
	{%- endif -%}
{% endblock %}
{% from '_partials/render_image.twig' import render_image %}
{% block head %}
	{{ parent() }}
	<meta typeof="candr:Facsimile"/>
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	{% if facsimile.image %}
		<script>
			u(document).on("DOMContentLoaded", function() {
				var candr = new Candr.NodeEdit('view', "{{ render_image(facsimile.id, '') }}", null, false);
				window.CandrCtx = candr;
				{% for system in down %}
					candr.add_polygon('{{system.id}}', {{ system.warp.nodes|json_encode() }}, "{{path_for('view_system', {'id': system.id})}}", false, '', {{loop.index}});
				{% endfor %}
			});
		</script>
	{% endif %}
{% endblock %}
{% block transcribingMessage %}
	{% if facsimile.transcribed and down|filter(d => not d.transcribed)|length > 0 %}
		<p>Facsimile is marked as transcribed but there are systems not transcribed. Unmark facsimile as transcribed?</p>
		<div class="text-center mt-2">
			<form class="inline" action="{{path_for('unset_transcribe_facsimile', {'id': facsimile.id})}}">
				<button class="m-auto" type="submit">Yes</button>
			</form>
		</div>
	{% elseif loggedin.transcribing.model_id == 'facsimile' and loggedin.transcribing.id == facsimile.id %}
		{% if down|length == 0 %}
			<p>Define some systems to begin transcribing</p>
		{% else %}
			{% set firstSys = down|first %}
			{% for system in down %}
				{% if firstSys.transcribed %}
					{% set firstSys = system %}
				{% endif %}
			{% endfor %}
			{% if firstSys.transcribed %}
				<p>All systems are transcribed. Mark facsimile as transcribed?</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('set_transcribe_facsimile', {'id': facsimile.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% else %}
				<p>
					Start transcribing systems?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_system', {'id': firstSys.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block wizardStartTranscribe %}
	{% if loggedin and not loggedin.transcribing and not facsimile.transcribed %}
		<div class="w-full">
			<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
				<p class="font-bold">	
					Transcribing Wizard
				</p>
				<p>
					Start transcribing here?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_facsimile', {'id': facsimile.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>	
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_facsimile', {'id': facsimile.id})}}">{{processstr(facsimile.name)}}</a></li>
{% endblock %}
{% block header %}
	{% set folio = up|last %}
	Facsimile of <a typeof="candr:Folio" rel="candr:isContainedBy" href="{{path_for('view_folio', {'id': folio.id})}}">{{processstr(folio.name)}}</a>
	{% if facsimile.name %}
		<i>({{processstr(facsimile.name)}})</i>
	{% endif %}
	{% include '_partials/editicon.twig' with {'routename': 'edit_facsimile_title', 'options':{'id': facsimile.id}} %}
	{% include '_partials/editicon.twig' with {'routename': 'delete_facsimile', 'options': {'id': facsimile.id}, 'icon': 'delete'} %}
	{% apply spaceless %}
		<a href="{{path_for('mei_facsimile', {'id': facsimile.id})}}">
			<span title="MEI" class="meiicon"></span>
		</a>
	{% endapply %}
{% endblock %}
{% block editparent %}
	{% include '_partials/prevnext.twig' with {'route': 'view_facsimile', 'prev': adjacent.prev, 'next': adjacent.next} %}
	{% include '_partials/editparent.twig' with {'viewroute': up|keys|last, 'editroute': 'edit_facsimile_folio', 'id': facsimile.id, 'parent': up|last} %}
	<p class="mt-0">
		{% if set %}
			Part of set &ldquo;<a typeof="candr:FacsimileSet" rel="candr:isContainedBy" href="{{path_for('view_facsimileset', {'id': set.id})}}">{{processstr(set.name)}}</a>&rdquo;
		{% else %}
			No set
		{% endif %}
		{% include '_partials/editicon.twig' with {'routename': 'edit_facsimile_facsimileset', 'options': {'id': facsimile.id}} %}
	</p>
{% endblock %}
{% block downheader %}
	Systems:
	{% if loggedin %}
		{% if loggedin.transcribing.model_id == 'facsimile' and loggedin.transcribing.id == facsimile.id and down|length == 0 %}
			<span class="border-2 border-blue-400">
				{% include '_partials/editicon.twig' with {'routename': 'edit_facsimile_systems', 'options': {'id': facsimile.id}} %}
			</span>
		{% else %}
			{% include '_partials/editicon.twig' with {'routename': 'edit_facsimile_systems', 'options': {'id': facsimile.id}} %}
		{% endif %}
	{% endif %}
{% endblock %}
{% block transcribeProcess %}
	{{ numTranscribed(down, "systems") }}
{% endblock %}	
{% block list %}
	{% if down %}
		<ul>
			{% set count = 1 %}
			{% for system in down %}
				<li>
					<a typeof="candr:System" rel="candr:contains" class="flex justify-start items-center inline-block" href="{{ path_for('view_system', {'id': system.id})}}">
						<span class="inline-block mr-2">System {{ count }}</span>
						{% if system.transcribed %}
							<span class="checkicon" title="Transcribed"></span>
						{% endif %}
					</a>
				</li>
				{% set count = count + 1 %}
			{% endfor %}
		</ul>
	{% else %}
		<h3><i>No systems</i></h3>
	{% endif %}
	{% if facsimile.image %}
		<h2>Image:</h2>
		<canvas id="view" class="w-full"></canvas>
		<ul>
			{% for system in systems %}
				<li>System</li>
			{% endfor %}
		</ul>
	{% else %}
		<h3><i>No image</i></h3>
		{% include '_partials/editicon.twig' with {'routename': 'edit_facsimile_image', 'icon': 'add', 'options': {'id': facsimile.id}} %}
	{% endif %}
	{% include '_partials/copyright.twig' with {'set': set} %}
{% endblock %}
