{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/numTranscribed.twig' import numTranscribed %}
{% block title %}
	Folio
	{% if folio.name -%}
		{{- processstr(folio.name) | striptags -}}
	{%- endif -%}
{% endblock %}
{% block head %}
	{{ parent() }}
	<link typeof="candr:Source" rel="candr:isContainedBy" href="{{path_for('view_source', {id: (up|last).id})}}"/>
	<meta type="candr:Folio"/>
	<meta property="dc:title" content="{{folio.name}}"/>
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_folio', {'id': folio.id})}}">Folio {{processstr(folio.name)}}</a></li>
{% endblock %}
{% block header %}
	Folio {{processstr(folio.name)}}
	{% include '_partials/editicon.twig' with {'routename': 'edit_folio_title', 'options':{'id': folio.id}} %}
	{% include '_partials/editicon.twig' with {'routename': 'delete_folio', 'options': {'id': folio.id}, 'icon': 'delete'} %}
	{% apply spaceless %}
		<a href="{{path_for('mei_folio', {'id': folio.id})}}">
			<span title="MEI" class="meiicon"></span>
		</a>
	{% endapply %}
{% endblock %}
{% block transcribingMessage %}
	{% if folio.transcribed and down|filter(d => not d.transcribed)|length > 0 %}
		<p>Folio is marked as transcribed but there are facsimiles not transcribed. Unmark folio as transcribed?</p>
		<div class="text-center mt-2">
			<form class="inline" action="{{path_for('unset_transcribe_folio', {'id': folio.id})}}">
				<button class="m-auto" type="submit">Yes</button>
			</form>
		</div>
	{% elseif loggedin.transcribing.model_id == 'folio' and loggedin.transcribing.id == folio.id %}
		{% if down|length == 0 %}
			<p>Upload some facsimiles to begin transcribing</p>
		{% else %}
			{% set firstFac = down|first %}
			{% for facsimile in down %}
				{% if firstFac.transcribed %}
					{% set firstFac = facsimile %}
				{% endif %}
			{% endfor %}
			{% if firstFac.transcribed %}
				<p>All facsimiles are transcribed. Mark folio as transcribed?</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('set_transcribe_folio', {'id': folio.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% else %}
				<p>
					Start transcribing facsimiles?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_facsimile', {'id': firstFac.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block wizardStartTranscribe %}
	{% if loggedin and not loggedin.transcribing and not folio.transcribed %}
		<div class="w-full">
			<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
				<p class="font-bold">	
					Transcribing Wizard
				</p>
				<p>
					Start transcribing here?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_folio', {'id': folio.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>	
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block editparent %}
	{% include '_partials/prevnext.twig' with {'route': 'view_folio', 'prev': adjacent.prev, 'next': adjacent.next} %}
	{% include '_partials/editparent.twig' with {'viewroute': up|keys|last, 'editroute': 'edit_folio_source', 'id': folio.id, 'parent': up|last} %}
{% endblock %}
{% block downheader %}
	Facsimiles:
	{% include '_partials/editicon.twig' with {'routename': 'edit_folio_facsimiles', 'options': {'id': folio.id}} %}
{% endblock %}
{% block transcribeProcess %}
	{{ numTranscribed(down, "facsimiles") }}
{% endblock %}	
{% block list %}
	{% if down %}
		{% from '_partials/render_image.twig' import render_image, find_image %}
		{% set sets = {} %}
		{% for facsimile in down %}
			{% if sets[facsimile.set.id] is not defined %}
				{% set sets = sets|merge({(facsimile.set.id): facsimile.set}) %}
			{% endif %}
			<a class="inline-block align-middle" typeof="candr:Facsimile" rel="candr:contains" href="{{path_for('view_facsimile', {'id': facsimile.id})}}">
				<div class="inline-block align-middle max-w-xs h-64 rounded overflow-hidden shadow-lg flex flex-col mb-2">
					<div class="inline-block align-middle h-auto overflow-hidden flex flex-col items-center justify-center">
						<img class="w-full h-auto flex-1" loading="lazy" src="{{ render_image(facsimile.id, 'thumb') }}" alt="Facsimile image"/>
					</div>
					<div class="px-6 py-4">
						<div class="font-bold mb-2 flex justify-start items-center">
							{% if facsimile.name %}
								<span class="inline-block mr-2">{{facsimile.name}}</span>
							{% endif %}
							{% if facsimile.transcribed %}
								<span class="checkicon" title="Transcribed"></span>
							{% endif %}
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<h3><i>No facsimiles</i></h3>
	{% endif %}
	<div>
		{% include '_partials/editicon.twig' with {'routename': 'add_folio_new_facsimile', 'options': {'id': folio.id}, 'icon': 'add'} %}
	</div>
	{% if down %}
		<div>
			{% for set in sets %}
				{% include '_partials/copyright.twig' with {'set': set} %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
