{% extends 'home.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{{category|capitalize}} | List
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
	<h1>{{category|capitalize}}</h1>
	{% if items is not empty %}
		<h2>List:</h2>
		{%- set type = "" -%}
		{%- if category == 'source' -%}
			{%- set type = "candr:Source" -%}
		{%- elseif category == 'Facsimile Sets' -%}
			{%- set type = "candr:FacsimileSet" -%}
		{%- endif -%}
		<a name="alpha-anchor-top"></a>
		{% set splitted = items|alphasplit %}
		{% include '_partials/alphalist.twig' with {'items': splitted} %}
		<ul class="inline-block">
			{% for alpha in splitted %}
				{% set letter = (alpha|first).name|first|upper %}
				<a class="inline" name="alpha-anchor-{{ letter }}" href="#alpha-anchor-{{ letter }}">
					<h2 class="inline">{{ letter }}</h2>
				</a>
				<span class="text-xs">
					<a class="inline" href="#alpha-anchor-top">
						Back to top &#8624
					</a>
				</span>
				<hr class="-mt-1 mb-2"/>
				{% for item in alpha %}
					<li><a typeof="{{ type }}" rel="candr:contains" href="{{path_for(routename, {'id': item.id})}}">{{processstr(item.name)}}</a></li>
				{% endfor %}
			{% endfor %}
			<li>
				{% include '_partials/editicon.twig' with {'routename': newroutename, 'icon': 'add', 'options': {}} %}
			</li>
		</ul>
	{% else %}
		<h2><i>No entries</i></h2>
		{% include '_partials/editicon.twig' with {'routename': newroutename, 'icon': 'add', 'options': {}} %}
	{% endif %}
{% endblock %}
