{% extends 'home.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{{category|capitalize}} | List
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
	<h1>Settings</h1>
	{% if settings is not empty %}
		{% set prev_source = "" %}
		<ul class="inline-block">
			{% for setting in settings %}
				{% if setting.source.id != prev_source %}
					{% set prev_source = setting.source.id %}
					<a class="inline" href="{{path_for('view_source', {'id': prev_source})}}">
						<h2 class="inline">{{ processstr(setting.source.name) }}</h2>
					</a>
					<hr class="-mt-1 mb-2"/>
				{% endif %}
				<li>
					<a class="inline" href="{{path_for('view_setting', {'id': setting.id})}}" typeof="candr:Setting">
						{{processstr(setting.name)}}
					</a>
					{% if setting.folio.name %}
						<a class="inline" href="{{path_for('view_folio', {'id': setting.folio.id})}}">
							<i>(f.{{processstr(setting.folio.name)}})</i>
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<h2><i>No settings</i></h2>
	{% endif %}
{% endblock %}
