{% extends 'home.twig' %}
{% block title %}
	Browse by category
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
	<h1>Browse</h1>
	<h2>Browse by:</h2>
	<ul>
		<li><a href="{{path_for('list_sources')}}">Source</a></li>
		<li><a href="{{path_for('list_facsimilesets')}}">Facsimile set</a></li>
		<li><a href="{{path_for('list_settings')}}">Setting</a></li>
	</ul>
{% endblock %}
