{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{%- if setting.name -%}
		{{- processstr(setting.name) | striptags -}}
	{%- endif -%}
{% endblock %}
{% block head %}
	{{ parent() }}
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	<script>
		u(document).on("DOMContentLoaded", function() {
			var text_transcription = new window.Candr.TextTranscriptionFetcher("{{path_for('text_setting', {'id': setting.id})}}", "#text-transcription");
			text_transcription.fetch();
		});
	</script>
	{% if setting.name %}
		<meta property="dc:title" content="{{setting.name}}"/>
	{% endif %}
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_setting', {'id': setting.id})}}">{{processstr(setting.name)}}</a></li>
{% endblock %}
{% block header %}
	<a href="{{path_for('list_settings')}}">{{processstr(setting.name)}}</a>
	{% include '_partials/editicon.twig' with {'routename': 'edit_setting_title', 'options':{'id': setting.id}} %}
	{% include '_partials/editicon.twig' with {'routename': 'delete_setting', 'options': {'id': setting.id}, 'icon': 'delete'} -%}
	{% apply spaceless %}
		<a href="{{path_for('mei_setting', {'id': setting.id})}}">
			<span title="MEI" class="meiicon"></span>
		</a>
	{% endapply %}
{% endblock %}
{% block editparent %}
	<p class="mt-0">
		<i>(<a href="{{path_for('view_folio', {'id': up.view_folio.id})}}">{{processstr(up.view_folio.name)}}</a>)</i>
	</p>
{% endblock %}
{% block downheader %}
	<h2>Text Transcription</h2>
	<div class="border border-black text-sm p-4 italic" style="white-space: pre-line"><p id="text-transcription"></p></div>
	<link rel="candr:textTranscription" href="{{path_for('text_setting', {'id': setting.id})}}"/>
	<link rel="candr:editorialTextTranscription" href="{{path_for('text_setting_editorial', {'id': setting.id})}}"/>
	<link rel="candr:MEITranscription" href="{{path_for('mei_setting', {'id': setting.id})}}"/>
	{% if up.view_source %}
		<link rel="candr:start" typeof="candr:Source" href="{{path_for('view_source', {id:up.view_source.id})}}"/>
	{% endif %}
	{% if up.view_folio %}
		<link rel="candr:start" typeof="candr:Folio" href="{{path_for('view_folio', {id:up.view_folio.id})}}"/>
	{% endif %}
	{% if up.view_facsimile %}
		<link rel="candr:start" typeof="candr:Facsimile" href="{{path_for('view_facsimile', {id:up.view_facsimile.id})}}"/>
	{% endif %}
	{% if up.view_system %}
		<link rel="candr:start" typeof="candr:System" href="{{path_for('view_system', {id:up.view_system.id})}}"/>
	{% endif %}
{% endblock %}
{% block list %}
{% endblock %}
