{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/numTranscribed.twig' import numTranscribed %}
{% block title %}
	{%- if source.name -%}
		{{- processstr(source.name) | striptags -}}
	{%- endif -%}
{% endblock %}
{% block head %}
	{{ parent() }}
	<meta typeof="candr:Source"/>
	<meta property="dc:title" content="{{source.name}}"/>
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_source', {'id': source.id})}}">{{processstr(source.name)}}</a></li>
{% endblock %}
{% block header %}
	<a href="{{path_for('list_sources')}}">{{processstr(source.name)}}</a>
	{% include '_partials/editicon.twig' with {'routename': 'edit_source_title', 'options':{'id': source.id}} %}
	{% include '_partials/editicon.twig' with {'routename': 'delete_source', 'options': {'id': source.id}, 'icon': 'delete'} %}
{% endblock %}
{% block transcribingMessage %}
	{% if source.transcribed and down|filter(d => not d.transcribed)|length > 0 %}
		<p>Source is marked as transcribed but there are folios not transcribed. Unmark source as transcribed?</p>
		<div class="text-center mt-2">
			<form class="inline" action="{{path_for('unset_transcribe_source', {'id': source.id})}}">
				<button class="m-auto" type="submit">Yes</button>
			</form>
		</div>
	{% elseif loggedin.transcribing.model_id == 'source' and loggedin.transcribing.id == source.id %}
		{% if down|length == 0 %}
			<p>Define some folios to begin transcribing</p>
		{% else %}	
			{% set firstFol = down|first %}
			{% for folio in down %}
				{% if firstFol.transcribed %}
					{% set firstFol = folio %}
				{% endif %}
			{% endfor %}
			{% if firstFol.transcribed %}
				<p>All folios are transcribed. Mark source as transcribed?</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('set_transcribe_source', {'id': source.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% else %}
				<p>
					Start transcribing folios?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_folio', {'id': firstFol.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block wizardStartTranscribe %}
	{% if loggedin and not loggedin.transcribing and not source.transcribed %}
		<div class="w-full">
			<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
				<p class="font-bold">	
					Transcribing Wizard
				</p>
				<p>
					Start transcribing here?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_source', {'id': source.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>	
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block editparent %}
	{% if archive.url %}
		<a rel="candr:inArchive" typeof="candr:Archive" href="{{ archive.url }}">{{ archive.name|e }}</a>
	{% else %}
		{{ processstr(archive.name) }}
	{% endif %}
	{% include '_partials/editicon.twig' with {'routename': 'edit_source_archive', 'options':{'id': source.id}} %}
{% endblock %}
{% block downheader %}
	Folios:
	{% include '_partials/editicon.twig' with {'routename': 'edit_source_folios', 'options': {'id': source.id}} %}
{% endblock %}
{% block transcribeProcess %}
	{{ numTranscribed(down, "folios") }}
{% endblock %}	
{% block list %}
	{% if down %}
		{% from '_partials/render_image.twig' import render_image %}
		{% for folio in down %}
			<a class="inline-block align-middle" typeof="candr:Folio" rel="candr:contains" href="{{path_for('view_folio', {'id': folio.id})}}">
				<div class="inline-block align-middle max-w-xs h-64 rounded overflow-hidden shadow-lg flex flex-col mb-2">
					{% if folio.image %}
						<div class="inline-block align-middle h-auto overflow-hidden w-auto flex flex-col items-center justify-center">
							<img class="w-full h-auto flex-1" loading="lazy" src="{{ render_image(folio.image, 'thumb') }}" alt="Folio facsimile"/>
						</div>
					{% endif %}
					<div class="px-6 py-4">
						<div class="font-bold mb-2 flex justify-start items-center">
							<span class="inline-block mr-2">{{folio.name}}</span>
							{% if folio.transcribed %}
								<span class="checkicon" title="Transcribed"></span>
							{% endif %}
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<h3><i>No folios</i></h3>
	{% endif %}
	<div>
		{% include '_partials/editicon.twig' with {'routename': 'add_source_new_folio', 'options': {'id': source.id}, 'icon': 'add'} %}
	</div>
{% endblock %}
