{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	Stave
{% endblock %}
{% from '_partials/render_image.twig' import render_image %}
{% block head %}
	{{ parent() }}
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	<script>
		u(document).on("DOMContentLoaded", function() {
			{% if transcribe and stave %}
				var editor = new window.Candr.Editor(
					{% if loggedin %}
						true,
					{% else %}
						false,
					{% endif %}
					'cover',
					'view',
					'{{path_for('edit_item')}}',
					{{stave.id}},
					'optionspane',
					'colourpane',
					"{{render_image(transcribe.id, '')}}",
					[
						{{transcribe.warp.nodes|json_encode()|raw}},
						{{stave.warp.nodes|json_encode()|raw}}
					],
					{
						{% if loggedin %}
							"ligature": u('#add-ligature').nodes[0],
							"multiinput": u('#multi-input').nodes[0],
						{% endif %}
						"facsimile": u('#view-facsimile').nodes[0],
						"stafflines": u('#view-staffline').nodes[0],
						"clefs": u('#view-clef').nodes[0],
						"accidentals": u('#view-accidental').nodes[0],
						"divisiones": u('#view-divisione').nodes[0],
						"syllables": u('#view-syllable').nodes[0],
						"notes": u('#view-note').nodes[0]
					},
					{{ last_updated }}, {{stave.zoom}});
				window.CandrCtx = editor;
				u('#increase-border').on("click", function() {
					editor.increase_border();
				});
				u('#decrease-border').on("click", function() {
					editor.decrease_border();
				});
				u('#view-facsimile').on("change", function() {
					editor.view_facsimile(this.checked);
				});
				u('#view-staffline').on("change", function() {
					editor.view_stafflines(this.checked);
				});
				u('#view-clef').on("change", function() {
					editor.view_clefs(this.checked);
				});
				u('#view-accidental').on("change", function() {
					editor.view_accidentals(this.checked);
				});
				u('#view-divisione').on("change", function() {
					editor.view_divisiones(this.checked);
				});
				u('#view-note').on("change", function() {
					editor.view_notes(this.checked);
				});
				u('#view-syllable').on("change", function() {
					editor.view_syllables(this.checked);
				});
				u('#view-facsimile').trigger('change');
				u('#view-staffline').trigger('change');
				u('#view-clef').trigger('change');
				u('#view-accidental').trigger('change');
				u('#view-divisione').trigger('change');
				u('#view-note').trigger('change');
				u('#view-syllable').trigger('change');
				{% if loggedin %}
					var multi = u('#multi-input').first();
					var retrigger = function() {
						return multi.checked;
					};
					u('#add-staffline').on("click", function() {
						editor.add_staffline(retrigger);
					});
					u('#add-clef').on("click", function() {
						editor.add_clef(retrigger);
					});
					u('#add-accidental').on("click", function() {
						editor.add_accidental(retrigger);
					});
					u('#add-divisione').on("click", function() {
						editor.add_divisione(retrigger);
					});
					u('#add-note').on("click", function() {
						editor.add_note(retrigger);
					});
					u('#add-syllable').on("click", function() {
						editor.add_syllable(retrigger);
					});
					u('#new-ligature').on("click", function() {
						editor.add_ligature();
					});
					u('#add-ligature').on("change", function() {
						t = u(this);
						if(t.is(':checked')) {
							editor.append_to_ligature();
						} else {
							editor.cancel_in_progress();
						}
					});
					u('#delete-item').on("click", function() {
						editor.delete_item(retrigger);
					});
					u('#add-predictions').on("click", function() {
						t = u(this);
						if(editor.add_predictions()) {
							t.addClass('hidden');
						}
					});
					u('#refresh').on("click", function() {
						editor.redraw();
					});
					u('#save').on("click", function() {
						editor.push_saves();
					});
					u('#add-editorial-c-clef').on("click", function() {
						editor.add_editorial_c_clef(retrigger);
					});
					u('#add-editorial-d-clef').on("click", function() {
						editor.add_editorial_d_clef(retrigger);
					});
					u('#add-editorial-f-clef').on("click", function() {
						editor.add_editorial_f_clef(retrigger);
					});
					u('#add-editorial-a-clef').on("click", function() {
						editor.add_editorial_a_clef(retrigger);
					});
					u('#add-editorial-flat').on("click", function() {
						editor.add_editorial_flat(retrigger);
					});
					u('#add-editorial-sharp').on("click", function() {
						editor.add_editorial_sharp(retrigger);
					});
					u('#add-editorial-syllable').on("click", function() {
						editor.add_editorial_syllable(retrigger);
					});
					u('#add-editorial-text').on("click", function() {
						editor.add_editorial_text(retrigger);
					});
					{% if not stave.transcribed %}
						u('#stave-set-transcribed').on("click", function() {
							u('#stave-set-transcribed').attr('disabled', 'disabled');
							editor.push_saves(function(ret) {
								window.location.assign('{{ path_for('set_transcribe_stave', {'id': stave.id}) }}');
							});
						});
					{% else %}
						u('#stave-set-transcribed').on("click", function() {
							u('#stave-set-transcribed').attr('disabled', 'disabled');
							editor.push_saves(function(ret) {
								window.location.assign('{{ path_for('unset_transcribe_stave', {'id': stave.id}) }}');
							});
						});
					{% endif %}
				{% endif %}
			{% endif %}
		});
	</script>
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_stave', {'id': stave.id})}}">Stave</a></li>
{% endblock %}
{% block header %}
	{% set system = up|last %}
	<a href="{{path_for('view_stave', {'id': stave.id})}}">Stave</a> of <a href="{{path_for('view_system', {'id': system.id})}}">System</a> 
	{% include '_partials/editicon.twig' with {'routename': 'delete_stave', 'options': {'id': stave.id}, 'icon': 'delete'} %}
{% endblock %}
{% block transcribingMessage %}
	{% if loggedin %}
		<p>
			Mark stave as
			{% if stave.transcribed %}
				not yet
			{% endif %}
			transcribed?
		</p>
		<div class="text-center mt-2">
			<button class="m-auto" type="submit" id="stave-set-transcribed">Yes</button>
		</div>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block wizardStartTranscribe %}
	{% if loggedin and not loggedin.transcribing and not stave.transcribed %}
		<div class="w-full">
			<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
				<p class="font-bold">	
					Transcribing Wizard
				</p>
				<p>
					Start transcribing here?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_stave', {'id': stave.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>	
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block editparent %}
	(Transcribed from <a href="{{path_for('view_facsimile', {'id': transcribe.id})}}">{{processstr(transcribe.name)}}</a>)
	{% set system = up|last %}
	{% include '_partials/editicon.twig' with {'routename': 'edit_system_transcribe', 'options': {'id': system.id}} %}
	{% include '_partials/prevnext.twig' with {'route': 'view_stave', 'prev': adjacent.prev, 'next': adjacent.next} %}
{% endblock %}
{% block downheader %}
{% endblock %}
{% block list %}
	{% if transcribe %}
		<div class="relative">
			<div class="mb-1 select-none flex justify-start items-start">
				<fieldset class="inline-block border-black border-t p-0 mr-1">
					<legend class="text-xs pr-2">Items:</legend>
					<span class="inline-block align-top mr-1">
						<label title="View Facsimile" class="inline-block cursor-pointer mb-1">
							<input type="checkbox" checked="checked" class="hidden editor-checkbox" id="view-facsimile">
							<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center {% if loggedin %}h-16{% endif %}">
								<span>
									<span class="cameraiconinvert checked-visible"></span>
									<span class="cameraicon unchecked-visible"></span>
								</span>
							</span>
						</label>
					</span>
					<span class="inline-block align-top mr-1">
						<label title="View Stafflines" class="inline-block cursor-pointer mb-1">
							<input type="checkbox" checked="checked" class="hidden editor-checkbox" id="view-staffline">
							<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
								<span>
									<span class="stafflineiconinvert checked-visible"></span>
									<span class="stafflineicon unchecked-visible"></span>
								</span>
							</span>
						</label>
						{% if loggedin %}
							<a title="Add Staffline (l)" class="cursor-pointer block" id="add-staffline">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
									<span class="addicon"></span>
								</span>
							</a>
						{% endif %}
					</span>
					<span class="inline-block align-top mr-1">
						<label title="View Clefs" class="inline-block cursor-pointer mb-1">
							<input type="checkbox" checked="checked" class="hidden editor-checkbox" id="view-clef">
							<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
								<span>
									<span class="cleficoninvert checked-visible"></span>
									<span class="cleficon unchecked-visible"></span>
								</span>
							</span>
						</label>
						{% if loggedin %}
							<a title="Add Clef (c)" class="cursor-pointer block" id="add-clef">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
									<span class="addicon"></span>
								</span>
							</a>
						{% endif %}
					</span>
					<span class="inline-block align-top mr-1">
						<label title="View Accidentals" class="inline-block cursor-pointer mb-1">
							<input type="checkbox" checked="checked" class="hidden editor-checkbox" id="view-accidental">
							<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
								<span>
									<span class="accidentaliconinvert checked-visible"></span>
									<span class="accidentalicon unchecked-visible"></span>
								</span>
							</span>
						</label>
						{% if loggedin %}
							<a title="Add Accidental (a)" class="cursor-pointer block" id="add-accidental">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
									<span class="addicon"></span>
								</span>
							</a>
						{% endif %}
					</span>
					<span class="inline-block align-top mr-1">
						<label title="View Divisiones" class="inline-block cursor-pointer mb-1">
							<input type="checkbox" checked="checked" class="hidden editor-checkbox" id="view-divisione">
							<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
								<span>
									<span class="divisioneiconinvert checked-visible"></span>
									<span class="divisioneicon unchecked-visible"></span>
								</span>
							</span>
						</label>
						{% if loggedin %}
							<a title="Add Divisione (d)" class="cursor-pointer block" id="add-divisione">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
									<span class="addicon"></span>
								</span>
							</a>
						{% endif %}
					</span>
					<span class="inline-block align-top mr-1">
						<label title="View Notes" class="inline-block cursor-pointer mb-1">
							<input type="checkbox" checked="checked" class="hidden editor-checkbox" id="view-note">
							<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
								<span>
									<span class="virgaiconinvert checked-visible"></span>
									<span class="virgaicon unchecked-visible"></span>
								</span>
							</span>
						</label>
						{% if loggedin %}
							<a title="Add Note (n)" class="cursor-pointer block" id="add-note">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
									<span class="addicon"></span>
								</span>
							</a>
						{% endif %}
					</span>
					<span class="inline-block align-top mr-1">
						<label title="View Syllables" class="inline-block cursor-pointer mb-1">
							<input type="checkbox" checked="checked" class="hidden editor-checkbox" id="view-syllable">
							<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
								<span>
									<span class="syllableiconinvert checked-visible"></span>
									<span class="syllableicon unchecked-visible"></span>
								</span>
							</span>
						</label>
						{% if loggedin %}
							<a title="Add Syllable (s)" class="cursor-pointer block" id="add-syllable">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center">
									<span class="addicon"></span>
								</span>
							</a>
						{% endif %}
					</span>
				</fieldset>
				{% if loggedin %}
					<fieldset class="inline-block border-black border-t p-0 mr-1">
						<legend class="text-xs pr-2">Ligature:</legend>
						<span class="inline-block align-top mr-1">
							<a title="New Ligature (g)" class="cursor-pointer block" id="new-ligature">
								<span class="w-8 rounded border-black border p-1 shadow-md inline-block flex justify-center items-center h-16">
									<span class="newligicon"></span>
								</span>
							</a>
						</span>
						<span class="inline-block align-top mr-1">
							<label title="Append note to Ligature (p)" class="inline-block cursor-pointer">
								<input type="checkbox" class="hidden editor-checkbox" id="add-ligature">
								<span class="rounded border-black border p-1 shadow-md inline-block w-8 flex justify-center items-center h-16">
									<span>
										<span class="addligiconinvert checked-visible"></span>
										<span class="addligicon unchecked-visible"></span>
									</span>
								</span>
							</label>
						</span>
					</fieldset>
					<fieldset class="inline-block border-black border-t p-0 mr-1">
						<legend class="text-xs pr-2">Input tools:</legend>
						<span class="inline-block align-top mr-1">
							<label title="Multi-input (m)" class="inline-block cursor-pointer">
								<input type="checkbox" checked="checked" class="hidden editor-checkbox" id="multi-input">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center h-16">
									<span>
										<span class="multiiconinvert checked-visible"></span>
										<span class="multiicon unchecked-visible"></span>
									</span>
								</span>
							</label>
						</span>
						<span class="inline-block align-top mr-1">
							<a title="Delete Item (Del)" class="cursor-pointer block" id="delete-item">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center h-16">
									<span class="binicon"></span>
								</span>
							</a>
						</span>
						{% if not stave.transcribed %}
							<span class="inline-block align-top mr-1">
								<a title="Add Machine Learning Predictions" class="cursor-pointer block" id="add-predictions">
									<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center h-16">
										<span class="gearicon"></span>
									</span>
								</a>
							</span>
						{% endif %}
						<span class="inline-block align-top mr-1">
							<a title="Refresh stave" class="cursor-pointer block" id="refresh">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center h-16">
									<span class="refreshicon"></span>
								</span>
							</a>
						</span>
						<span class="inline-block align-top mr-1">
							<a title="Save" class="cursor-pointer block" id="save">
								<span class="rounded border-black border p-1 shadow-md inline-block w-16 flex justify-center items-center h-16">
									<span class="saveicon"></span>
								</span>
							</a>
						</span>
					</fieldset>
					<fieldset class="inline-block border-black border-t p-0 mr-1">
						<legend class="text-xs pr-2">Add editorial:</legend>
						<span class="inline-block align-top m-0">
							<a title="Add editorial C clef" class="cursor-pointer block m-0" id="add-editorial-c-clef">
								<span class="rounded-tl border-black border p-px shadow-md inline-block flex justify-center items-center">
									<span class="clefcicon"></span>
								</span>
							</a>
							<a title="Add editorial Sharp" class="cursor-pointer block m-0" id="add-editorial-sharp">
								<span class="border-black border p-px shadow-md inline-block flex justify-center items-center">
									<span class="sharpicon"></span>
								</span>
							</a>
						</span><span class="inline-block align-top m-0">
							<a title="Add editorial F clef" class="cursor-pointer block m-0" id="add-editorial-f-clef">
								<span class="border-black border p-px shadow-md inline-block flex justify-center items-center">
									<span class="clefficon"></span>
								</span>
							</a>
							<a title="Add editorial Flat" class="cursor-pointer block m-0" id="add-editorial-flat">
								<span class="border-black border p-px shadow-md inline-block flex justify-center items-center">
									<span class="flaticon"></span>
								</span>
							</a>
						</span><span class="inline-block align-top m-0">
							<a title="Add editorial D clef" class="cursor-pointer block m-0" id="add-editorial-d-clef">
								<span class="border-black border p-px shadow-md inline-block flex justify-center items-center">
									<span class="clefdicon"></span>
								</span>
							</a>
							<a title="Add editorial Syllable" class="cursor-pointer block m-0" id="add-editorial-syllable">
								<span class="border-black border p-px shadow-md inline-block flex justify-center items-center">
									<span class="syllableicon"></span>
								</span>
							</a>
						</span><span class="inline-block align-top m-0">
							<a title="Add editorial A clef" class="cursor-pointer block m-0" id="add-editorial-a-clef">
								<span class="rounded-tr border-black border p-px shadow-md inline-block flex justify-center items-center">
									<span class="clefaicon"></span>
								</span>
							</a>
							<a title="Add editorial Text" class="cursor-pointer block m-0" id="add-editorial-text">
								<span class="border-black border p-px shadow-md inline-block flex justify-center items-center">
									<span class="texticon"></span>
								</span>
							</a>
						</span>
					</fieldset>
				{% endif %}
			</div>
			<div class="mb-1 select-none flex justify-start items-center">
				<a title="Increase Border" class="cursor-pointer mr-1" id="increase-border">
					<span class="inline-block rounded border-black border p-1 shadow-md">
						<span class="arrowupicon"></span>
						Increase Border
					</span>
				</a>
				<a title="Decrease Border" class="cursor-pointer mr-1" id="decrease-border">
					<span class="inline-block rounded border-black border p-1 shadow-md">
						<span class="arrowdownicon"></span>
						Decrease Border
					</span>
				</a>
				<span id="colourpane" class="inline-block bg-gray-300"></span>
			</div>
			<canvas id="view" style="width:0px;height:0px;"></canvas>
			<div class="mb-1 editor-options-pane" id="optionspane">
				<div class="h-16 flex flex-col justify-center">
					<div class="h-10 flex flex-col justify-center">
						<p class="text-lg"><i>Nothing selected</i></p>
					</div>
				</div>
				<fieldset class="hidden"><legend></legend></fieldset>
			</div>
			<div id="cover" class="absolute inset-0 w-full h-full bg-gray-200 opacity-75 flex align-start justify-center">
				<span class="mt-8 text-lg"><i>Loading</i></span>
			</div>
		</div>
		{% include '_partials/copyright.twig' with {'set': transcribe.set} %}
	{% else %}
		<h2>Transcribing fascsimile is not set</h2>
	{% endif %}
{% endblock %}
