{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	System Synchronisation
{% endblock %}
{% from '_partials/render_image.twig' import render_image %}
{% block head %}
	{{ parent() }}
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	<script>
		u(document).on("DOMContentLoaded", function() {
			{% if transcribe and transcribe.warp.nodes %}
				var editor = new window.Candr.SystemSynchroniser('view', false, "{{render_image(transcribe.id, '')}}", [{{transcribe.warp.nodes|json_encode()|raw}}]);
				window.CandrCtx = editor;
				{% for staveid, dat in items %}
					editor.add_stave('{{staveid}}', {{dat.warp|json_encode()|raw}}, {{dat.items|json_encode()|raw}});
				{% endfor %}
				{% for linkid, linkitems in links %}
					editor.add_link_by_id({{ linkitems.ids|json_encode()|raw }});
				{% endfor %}
				u('#increase-border').on("click", function() {
					editor.increase_border();
				});
				u('#decrease-border').on("click", function() {
					editor.decrease_border();
				});	
			{% endif %}
		});
	</script>
{% endblock %}
{% block transcribingMessage %}
	{% if loggedin.transcribing.model_id == 'system' and loggedin.transcribing.id == system.id %}
		{% if links|length == 0 %}
			<p>Define some links to to synchronise staves</p>
		{% else %}
			<p>Return to system</p>
			<div class="text-center mt-2">
				<form class="inline" action="{{path_for('view_system', {'id': system.id})}}">
					<button class="m-auto" type="submit">Return</button>
				</form>
			</div>
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_system', {'id': system.id})}}">System</a></li>
{% endblock %}
{% block header %}
	{% set folio = up|last %}
	<a href="{{path_for('view_system', {'id': system.id})}}">System</a> of <a href="{{path_for('view_folio', {'id': folio.id})}}">{{processstr(folio.name)}}</a>
	{% include '_partials/editicon.twig' with {'routename': 'delete_system', 'options': {'id': system.id}, 'icon': 'delete'} %}
{% endblock %}
{% block editparent %}
	(Transcribed from <a href="{{path_for('view_facsimile', {'id': transcribe.id})}}">{{processstr(transcribe.name)}}</a>)
	{% include '_partials/editicon.twig' with {'routename': 'edit_system_transcribe', 'options': {'id': system.id}} %}
{% endblock %}
{% block downheader %}
	<h2>
		System synchronisation
		{% if loggedin %}
			{% if loggedin.transcribing.model_id == 'system' and loggedin.transcribing.id == system.id and links|length == 0 %}
				<span class="border-2 border-blue-400">
					{% include '_partials/editicon.twig' with {'routename': 'system_edit_sync', 'options':{'id': system.id}} %}
				</span>
			{% else %}
				{% include '_partials/editicon.twig' with {'routename': 'system_edit_sync', 'options':{'id': system.id}} %}
			{% endif %}
		{% endif %}
	</h2>
{% endblock %}
{% block list %}
	{% if not transcribe %}
		<h2>Transcribing fascsimile is not set</h2>
	{% elseif not transcribe.warp.nodes %}
		<h2>No warp for this system</h2>
	{% else %}
		<div class="mb-1 select-none">
			<a class="cursor-pointer" id="increase-border">
				<span class="rounded border-black border p-1 shadow-md">
					<span title="Up" class="arrowupicon"></span>
					Increase Border
				</span>
			</a>
			<a class="cursor-pointer" id="decrease-border">
				<span class="rounded border-black border p-1 shadow-md">
					<span title="Down" class="arrowdownicon"></span>
					Decrease Border
				</span>
			</a>
		</div>
		<canvas id="view" class="w-full"></canvas>
		{% include '_partials/copyright.twig' with {'set': transcribe.set} %}
	{% endif %}
{% endblock %}
