{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/numTranscribed.twig' import numTranscribed %}
{% block title %}
	System
{% endblock %}
{% from '_partials/render_image.twig' import render_image %}
{% block head %}
	{{ parent() }}
	<meta typeof="candr:System"/>
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	<script>
		u(document).on("DOMContentLoaded", function() {
			{% if transcribe %}
				var editor = new window.Candr.NodeEdit('view', "{{render_image(transcribe.id, '')}}", [{{transcribe.warp.nodes|json_encode()|raw}}], false, {{ system.zoom }});
				window.CandrCtx = editor;
				{% for stave in down %}
					editor.add_polygon('{{stave.id}}', {{ stave.warp.nodes|json_encode()|raw }}, "{{path_for('view_stave', {'id': stave.id})}}", false, '', {{loop.index}});
				{% endfor %}
				u('#increase-border').on("click", function() {
					editor.increase_border();
				});
				u('#decrease-border').on("click", function() {
					editor.decrease_border();
				});	
			{% endif %}
		});
	</script>
{% endblock %}
{% block transcribingMessage %}
	{% if system.transcribed and down|filter(d => not d.transcribed)|length > 0 %}
		<p>System is marked as transcribed but there are staves not transcribed. Unmark system as transcribed?</p>
		<div class="text-center mt-2">
			<form class="inline" action="{{path_for('unset_transcribe_system', {'id': system.id})}}">
				<button class="m-auto" type="submit">Yes</button>
			</form>
		</div>
	{% elseif loggedin.transcribing.model_id == 'system' and loggedin.transcribing.id == system.id %}
		{% if down|length == 0 %}
			<p>Define some staves to begin transcribing</p>
		{% else %}
			{% set firstStv = down|first %}
			{% for stave in down %}
				{% if firstStv.transcribed %}
					{% set firstStv = stave %}
				{% endif %}
			{% endfor %}
			{% if firstStv.transcribed %}
				{% if system.links and system.links|length > 0 %}
					<p>All staves are transcribed. Mark system as transcribed?</p>
					<div class="text-center mt-2">
						<form class="inline" action="{{path_for('set_transcribe_system', {'id': system.id})}}">
							<button class="m-auto" type="submit">Yes</button>
						</form>
					</div>
				{% else %}
					<p>Set stave synchronisation?</p>
					<div class="text-center mt-2">
						<form class="inline-block" action="{{path_for('system_view_sync', {'id': system.id})}}">
							<button class="m-auto" type="submit">Yes</button>
						</form>
						<form class="inline-block" action="{{path_for('set_transcribe_system', {'id': system.id})}}">
							<button class="m-auto" type="submit">No</button>
						</form>
					</div>
				{% endif %}
			{% else %}
				<p>
					Start transcribing staves?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_stave', {'id': firstStv.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block wizardStartTranscribe %}
	{% if loggedin and not loggedin.transcribing and not system.transcribed %}
		<div class="w-full">
			<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
				<p class="font-bold">	
					Transcribing Wizard
				</p>
				<p>
					Start transcribing here?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_system', {'id': system.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>	
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_system', {'id': system.id})}}">System</a></li>
{% endblock %}
{% block header %}
	{% set facsimile = up|last %}
	<a href="{{path_for('view_system', {'id': system.id})}}">System</a> of <a typeof="candr:Folio" rel="candr:isContainedBy" href="{{path_for('view_facsimile', {'id': facsimile.id})}}">{{processstr(facsimile.name)}}</a>
	{% include '_partials/editicon.twig' with {'routename': 'delete_system', 'options': {'id': system.id}, 'icon': 'delete'} %}
	{% apply spaceless %}
		<a href="{{path_for('mei_system', {'id': system.id})}}">
			<span title="MEI" class="meiicon"></span>
		</a>
	{% endapply %}
{% endblock %}
{% block editparent %}
	(Transcribed from <a typeof="candr:Facsimile" rel="candr:isTranscribedFrom" href="{{path_for('view_facsimile', {'id': transcribe.id})}}">{{processstr(transcribe.name)}}</a>)
	{% include '_partials/editicon.twig' with {'routename': 'edit_system_transcribe', 'options': {'id': system.id}} %}
	{% include '_partials/prevnext.twig' with {'route': 'view_system', 'prev': adjacent.prev, 'next': adjacent.next} %}
{% endblock %}
{% block downheader %}
	Staves
	{% if loggedin %}
		{% if loggedin.transcribing.model_id == 'system' and loggedin.transcribing.id == system.id and down|length == 0 %}
			<span class="border-2 border-blue-400">
				{% include '_partials/editicon.twig' with {'routename': 'edit_system_staves', 'options':{'id': system.id}} %}
			</span>
		{% else %}
			{% include '_partials/editicon.twig' with {'routename': 'edit_system_staves', 'options':{'id': system.id}} %}
		{% endif %}
	{% endif %}
{% endblock %}
{% block transcribeProcess %}
	{{ numTranscribed(down, "staves") }}
{% endblock %}	
{% block list %}
	{% if down %}
		<ul>
			{% set count = 1 %}
			{% for stave in down %}
				<li>
					<link rel="candr:contains" typeof="candr:Stave" href="{{path_for('view_stave_rdf', {id: stave.id})}}"/>
					<a class="flex justify-start items-center inline-block" href="{{ path_for('view_stave', {'id': stave.id})}}">
						<span class="inline-block mr-2">Stave {{ count }}</span>
						{% if stave.transcribed %}
							<span class="checkicon" title="Transcribed"></span>
						{% endif %}
					</a>
				</li>
				{% set count = count + 1 %}
			{% endfor %}
		</ul>
	{% else %}
		<h3><i>No staves</i></h3>
	{% endif %}
	{% if transcribe %}
		<div class="my-2 select-none">
			<a class="cursor-pointer" id="increase-border">
				<span class="rounded border-black border p-1 shadow-md">
					<span title="Up" class="arrowupicon"></span>
					Increase Border
				</span>
			</a>
			<a class="cursor-pointer" id="decrease-border">
				<span class="rounded border-black border p-1 shadow-md">
					<span title="Down" class="arrowdownicon"></span>
					Decrease Border
				</span>
			</a>
			<a class="cursor-pointer" id="synchronise-staves" href="{{path_for('system_view_sync', {'id': system.id})}}">
				<span class="rounded border-black border p-1 shadow-md">
					<span title="Synchronise" class="syncicon"></span>
					Synchronise Staves
				</span>
			</a>
		</div>
		<canvas id="view" class="w-full"></canvas>
		{% include '_partials/copyright.twig' with {'set': transcribe.set} %}
	{% else %}
		<h2>Transcribing fascsimile is not set</h2>
	{% endif %}
{% endblock %}
