{% extends 'home.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{{category|capitalize}}
	{% if record.name %}
		{{ record.name }}
	{% endif %}
	Settings | List
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
	<h1><a href="{{path_for(routename, {'id': record.id})}}">
		{% if record.name %}
			{{ record.name }}
		{% else %}
			{{category|capitalize}}
		{% endif %}
		Settings
	</a></h1>
	{% if settings is not empty %}
		<ul class="inline-block">
			{% for setting in settings %}
				<li>
					<a href="{{path_for('view_setting', {'id': setting.setting.id})}}">
						{{processstr(setting.setting.name)}}
					</a>
					{% if setting.folio %}
						(<a href="{{path_for('view_folio', {'id': setting.folio.id})}}">
							{{-processstr(setting.folio.name)-}}
						</a>)
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<h2><i>No settings in this source</i></h2>
	{% endif %}
{% endblock %}
