{% extends 'home.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/render_image.twig' import render_image %}
{% block title %}
	{{value.name}} | Edit {{name}}
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
	<h1>Editing {{name}} of {{category|capitalize}} <a href="{{path_for('category', {'category': category, 'id': value.id})}}">{{processstr(value.name)}}</a></h1>
	{% if attribute(value, display) %}
		<img src="{{ render_image(value.id, 'thumb') }}"/>
	{% else %}
		<h2><i>No Image</i></h2>
	{% endif %}
	<form method="post" enctype="multipart/form-data" class="inline" action="{{path_for('submit', {'action': 'edit', 'category': category, 'id': value.id, 'attribute': attribute})}}">
		<div class="mb-2">
			<input type="file" name="value" accept"image/*">
		</div>
		<button type="submit">Submit</button>
	</form>
	<form method="get" class="inline" action="{{path_for('category', {'category': category, 'id': value.id})}}">
		<button class="red-btn" type="submit">Cancel</button>
	</form>
{% endblock %}
