{% extends 'edit/_partials/down.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	Folio {{processstr(record.name) | striptags}} | Edit Facsimiles
{% endblock %}
{% block viewurl %}
	{{- path_for('view_folio', {'id': record.id}) -}}
{% endblock %}
{% block transcribingMessage %}
	{% if loggedin and loggedin.transcribing and loggedin.transcribing.model_id == 'folio' and loggedin.transcribing.id == record.id %}
		{% if facsimiles|length == 0 %}
			<p>Upload some facsimiles to begin transcribing</p>
		{% else %}
			{% set firstFac = facsimiles|first %}
			{% for facsimile in facsimile %}
				{% if firstFac.transcribed %}
					{% set firstFac = facsimile %}
				{% endif %}
			{% endfor %}
			{% if firstFac.transcribed %}
				<p>All facsimiles are transcribed. Mark folio as transcribed?</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('set_transcribe_folio', {'id': record.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% else %}
				<p>
					Start transcribing facsimiles?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_facsimile', {'id': firstFac.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block wizardStartTranscribe %}
	{% if loggedin and not loggedin.transcribing and not record.transcribed %}
		<div class="w-full">
			<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
				<p class="font-bold">	
					Transcribing Wizard
				</p>
				<p>
					Start transcribing here?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_folio', {'id': record.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>	
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block header %}
	Editing Facsimiles of <a href="{{ block('viewurl') }}">Folio {{ processstr(record.name) }}</a>
{% endblock %}
{% block loop %}
	{% if facsimiles is not empty %}
		<h2>Current facsimiles:</h2>
		<table>
			<thead>
				<tr>
					<th>Folio</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for facsimile in facsimiles %}
					<tr>
						<td>
							<a href="{{path_for('view_facsimile', {'id': facsimile.id})}}">{{processstr(facsimile.name)}}</a>
						</td>
						<td>
							{% include '_partials/editicon.twig' with {'routename': 'remove_folio_facsimile', 'options': {'id': record.id, 'tid': facsimile.id}, 'icon': 'delete'} %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h2><i>No facsimiles</i></h2>
	{% endif %}
	<h3>Add new facsimile:</h3>
	<ul>
		{% if others is not empty %}
			{% for option in others %}
				<li>
					<a href="{{path_for('view_facsimile', {'id': option.id})}}">{{processstr(option.name)}}</a>
					{% include '_partials/editicon.twig' with {'routename': 'add_folio_facsimile', 'options': {'id': record.id, 'tid': option.id}, 'icon': 'add'} %}
				</li>
			{% endfor %}
		{% else %}
			<p>No other facsimiles</p>
		{% endif %}
		{% include '_partials/editicon.twig' with {'routename': 'add_folio_new_facsimile', 'options': {'id': record.id}, 'icon': 'add'} %}
	</ul>
{% endblock %}
