{% extends 'home.twig' %}
{% block nav %}
{% endblock %}
{% block body %}
	<h1>
		{% block header %}
		{% endblock %}
	</h1>
	{% block image %}
	{% endblock %}
	<form method="post" enctype="multipart/form-data" class="inline" action="{% block submiturl %}{% endblock %}">
		<div class="mb-2">
			<input type="file" name="value" accept"image/*">
		</div>
		<button type="submit">Submit</button>
	</form>
	<form method="get" class="inline" action="{% block viewurl %}{% endblock %}">
		<button class="red-btn" type="submit">Cancel</button>
	</form>
{% endblock %}
