{% extends 'home.twig' %}
{% block nav %}
{% endblock %}
{% block body %}
	<h1>
		{% block header %}
		{% endblock %}
	</h1>
	<form method="post" class="inline" action="{% block submiturl %}{% endblock %}">
		<table>
			<tr>
				<td>
					{% block inputlabel %}
					{% endblock %}
				</td>
				<td>
					<input type="text" name="value" value="{% block currentvalue %}{% endblock %}"/>
				</td>
			</tr>
		</table>
		<button type="submit">Submit</button>
	</form>
	<form method="get" class="inline" action="{% block viewurl %}{% endblock %}">
		<button class="red-btn" type="submit">Cancel</button>
	</form>
{% endblock %}
