{% extends 'home.twig' %}
{% block nav %}
{% endblock %}
{% block body %}
	<h1>
		{% block header %}
		{% endblock %}
	</h1>
	<table>
		<thead>
			<tr>
				<th>{{ block('inputlabel') }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% block loop %}
			{% endblock %}
		</tbody>
	</table>
	<form action="{{ block('viewurl') }}" method="get">
		<button type="submit" class="red-btn">Cancel</button>
	</form>
	<p class="mt-4">History</p>
	<table class="text-xs">
		<thead>
			<tr>
				<th>Time</th>
				<th>{{ block('inputlabel') }}</th>
			</tr>
		</thead>
		<tbody>
			{% block history %}
			{% endblock %}
		</tbody>
	</table>
{% endblock %}
