{% extends 'home.twig' %}
{% block title %}
	Login
{% endblock %}
{% block body %}
	<h1>Login</h1>
	<table class="loginpage">
		<tr>
			<td>Username</td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password"</td>
		</tr>
	</table>
{% endblock %}
