{% extends 'home.twig' %}
{% block title %}
{% endblock %}
{% block nav %}
	{{ parent() }}
{% endblock %}
{% block transcribingWizard %}
	{{ parent() }}
{% endblock %}
{% block transcribingMessage %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<h1 class="-mb-2">
		{% block header %}
		{% endblock %}
	</h1>
	{% block editparent %}
	{% endblock %}
	<h2>
		{% block downheader %}
		{% endblock %}
	</h2>
	{% block transcribeProcess %}
	{% endblock %}
	{% block list %}
	{% endblock %}
	{% block transcribersList %}
		<div class="text-xs italic">
			{% if all_transcribers and all_transcribers|length > 0 %}
				Transcribed by
				{% for transcriber in all_transcribers -%}
					{%- if not loop.first -%}
						{%- if loop.last %}
							and
						{% else -%}
							,
						{%- endif -%}
					{%- endif %}
					{{ transcriber.user }}
				{% endfor %}
			{% endif %}
		</div>
	{% endblock %}
{% endblock %}
