<div>
	<span class="text-xs">Jump to:</span>
	<ul class="inline">
		{% for alpha in items %}
			{% set letter = (alpha|first).name|first|upper %}
			<li class="inline text-xs"><a href="#alpha-anchor-{{ letter }}">{{ letter }}</a></li>
		{% endfor %}
	</ul>
</div>
