{% if set.copyright_notice or loggedin or set.copyright_url %}
	<span class="inline-block border-black rounded border p-1 shadow-md text-sm">
		{% if set.copyright_notice or loggedin %}
			{% from '_partials/processstr.twig' import processstr %}
			Copyright notice for &ldquo;{{ processstr(set.name) }}&rdquo;:
			{% include '_partials/editicon.twig' with {'routename': 'edit_facsimileset_copyright', 'options':{'id': set.id}} %}
		{% endif %}
		{% if set.copyright_notice %}
			<pre>{{ set.copyright_notice }}</pre>
		{% endif %}
		{% if set.copyright_url %}
			For more information, see: <a href="{{ set.copyright_url|raw }}" target="_blank">{{ set.copyright_url }}</a>
		{% endif %}
	</span>
{% endif %}
