{% apply spaceless %}
	{% if loggedin %}
		<a href="{{path_for(routename, options)}}">
			{%- if icon == 'add' -%}
				<span title="Add" class="addicon"></span>
			{%- elseif icon == 'delete' -%}
				<span title="Delete" class="deleteicon"></span>
			{%- elseif icon == 'arrowup' -%}
				<span title="Move up" class="arrowupicon"></span>
			{%- elseif icon == 'arrowdown' -%}
				<span title="Move down" class="arrowdownicon"></span>
			{%- elseif icon == 'sync' -%}
				<span title="Synchronise" class="syncicon"></span>
			{%- else -%}
				<span title="Edit" class="editicon"></span>
			{%- endif -%}
		</a>
	{% endif %}
{% endapply %}
