{% from '_partials/processstr.twig' import processstr %}
{% if up is not empty %}
	<p class="mt-0">
		<i>(<a href="{{path_for(viewroute, {'id': parent.id})}}">{{processstr(parent.name)}}</a>)</i>
		{% include '_partials/editicon.twig' with {'routename': editroute, 'options': {'id': id}} %}
	</p>
{% endif %}
