{% apply spaceless %}
	{% if loggedin %}
		{%- if icon == 'add' -%}
			<span title="Add" class="greyed_addicon"></span>
		{%- elseif icon == 'delete' -%}
			<span title="Delete" class="greyed_deleteicon"></span>
		{%- elseif icon == 'arrowup' -%}
			<span title="Move up" class="greyed_arrowupicon"></span>
		{%- elseif icon == 'arrowdown' -%}
			<span title="Move down" class="greyed_arrowdownicon"></span>
		{%- else -%}
			<span title="Edit" class="greyed_editicon"></span>
		{%- endif -%}
	{% endif %}
{% endapply %}
