{%- macro numTranscribed(items, name = "") -%}
	{% set total = items|length %}
	{% set totalTranscribed = 0 %}	
	{% if total > 0 %}
		<div class="my-2 flex flex-row items-center">
			{% for item in items %}
				{% if item.transcribed %}
					{% set totalTranscribed = totalTranscribed + 1 %}
				{% endif %}
			{% endfor %}
			{% set percent = "%03d"|format((totalTranscribed / total) * 100) %}
			<span class="progress-dial dial-{{percent}}-percent"></span>
			<span class="inline-block ml-2 mb-2">
				{{ totalTranscribed }} / {{ total }} {{ name }} transcribed
			</span>
		</div>
	{% endif %}
{%- endmacro -%}
