<div>
	{% if prev %}
		<a class="inline-block" href="{{path_for(route, {'id': prev.id})}}">
			&#9664; Prev
		</a>
		{% if next %} | {% endif %}
	{% endif %}
	{% if next %}
		<a class="inline-block" href="{{path_for(route, {'id': next.id})}}">
			Next &#9654;
		</a>
	{% endif %}
</div>
