{%- macro randomstr(len = 10) -%}
	{%- set randomarr = [] -%}
	{%- set alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/" -%}
	{%- for i in 1..len -%}
		{%- set randomchar = random(alpha) -%}
		{%- set randomarr = randomarr|merge([randomchar]) -%}
	{%- endfor -%}
	{{- randomarr|join -}}
{%- endmacro -%}
