<span class="inline-block">
	<a class="cursor-pointer" id="zoom-out">
		<span class="inline-block rounded border-black border p-1 shadow-md">
			<span title="Zoom out" class="zoomouticon"></span>
		</span>
	</a>
	<span class="text-center w-16 select-none" id="zoom-status">100%</span>
	<a class="cursor-pointer" id="zoom-in">
		<span class="inline-block rounded border-black border p-1 shadow-md">
			<span title="Zoom in" class="zoominicon"></span>
		</span>
	</a>
</span>

