{% extends 'edit/_partials/string.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{{processstr(record.name) | striptags}} | Edit title
{% endblock %}
{% block viewurl %}
	{{- path_for('view_setting', {'id': record.id}) -}}
{% endblock %}
{% block submiturl %}
	{{- path_for('set_setting_title', {'id': record.id}) -}}
{% endblock %}
{% block header %}
	Editing Title of Setting &ldquo;<a href="{{ block('viewurl')}}">{{processstr(record.name)}}</a>&rdquo;
{% endblock %}
{% block inputlabel %}
	Title:
{% endblock %}
{% block currentvalue %}
	{{- record.name -}}
{% endblock %}
