{% extends 'home.twig' %}
{% block title %}
	View Edition	
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
	<h1>View Edition</h1>
	{% for page, svg in svgs %}
		<h2>Page {{ page }}</h2>
		<img src="data:image/svg+xml;charset=utf-8,{{ svg.svg | url_encode
}}"/>
	{% endfor %}
	<div class="text-xs font-mono">
		{{ output | nl2br }}<br/>
		{% for page, svg in svgs %}
			{{ svg.output | nl2br }}<br/>
		{% endfor %}
	</div>
{% endblock %}
