{% extends 'edit/_partials/image.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/render_image.twig' import render_image %}
{% block title %}
	Editing Image of Facsimile &ldquo;{{record.name}}&rdquo;
{% endblock %}
{% block viewurl %}
	{{- path_for('view_facsimile', {'id': record.id}) -}}
{% endblock %}
{% block submiturl %}
	{{- path_for('set_facsimile_image', {'id': record.id}) -}}
{% endblock %}
{% block header %}
	Editing Image of Facsimile &ldquo;<a href="{{ block('viewurl') }}">{{processstr(record.name)}}</a>&rdquo;
{% endblock %}
{% block image %}
	{% if value.image %}
		<img src="{{ render_image(record.id, '') }}"/>
	{% else %}
		<h3><i>No Image</i></h3>
	{% endif %}
{% endblock %}
