{% extends 'edit/_partials/down.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/render_image.twig' import render_image %}
{% block title %}
	{{processstr(record.name) | striptags }} | Add System from Other Facsimile
{% endblock %}
{% block head %}
	{{ parent() }}
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	{% if record.image %}
		<script>
			u(document).on("DOMContentLoaded", function() {
				var candr = [];
				{% for fac in facsimiles %}
					var sysed = new Candr.NodeEdit('view-{{fac.id}}', "{{render_image(fac.id, '')}}", null, false);
					{% for system in fac.down %}
						sysed.add_polygon('{{system.id}}', {{ system.warp.nodes|json_encode() }}, "{{path_for('add_facsimile_system', {'id': record.id, 'tid': system.id})}}", false, '');
					{% endfor %}
					candr.push(sysed);
				{% endfor %}
				window.CandrCtx = candr;
			});
		</script>
	{% endif %}
{% endblock %}
{% block viewurl %}
	{{- path_for('view_facsimile', {'id': record.id}) -}}
{% endblock %}
{% block header %}
	Adding system to facsimile <i><a href="{{ block('viewurl') }}">{{processstr(record.name)}}</a></i> of <a href="{{path_for('view_folio', {'id': folio.id})}}">{{processstr(folio.name)}}</a>
{% endblock %}
{% block loop %}
	<p>Click on a system to add it</p>
	{% for fac in facsimiles %}
		<h2>
			Facsimile
			{% if fac.name %}
				(<i>{{fac.name}}</i>)
			{% endif %}
			<canvas id="view-{{fac.id}}" class="w-full"></canvas>
		</h2>
	{% endfor %}
{% endblock %}
