{% extends 'edit/_partials/up.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	{{processstr(record.name) | striptags }} | Edit set
{% endblock %}
{% block viewurl %}
	{{- path_for('view_facsimile', {'id': record.id}) -}}
{% endblock %}
{% block header %}
	Editing Set of Facsimile &ldquo;<a href="{{ block('viewurl') }}">{{ processstr(record.name) }}</a>&rdquo;
{% endblock %}
{% block inputlabel %}
	Set
{% endblock %}
{% block loop %}
	{% set currentid = record.facsimile_set_id %}
	{% for alt in others %}
		<tr>
			<td><a href="{{path_for('view_facsimileset', {'id': alt.id})}}">{{ processstr(alt.name) }}</a></td>
			<td>
				{% if currentid == alt.id %}
					{% include '_partials/greyedout_editicon.twig' with {'icon': 'add'} %}
				{% else %}
					{% include '_partials/editicon.twig' with {'routename': 'set_facsimile_facsimileset', 'options': {'id': record.id, 'tid': alt.id}, 'icon': 'add'} %}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	<tr>
		<td><i>New Facsimile Set</i></td>
		<td>
			{% include '_partials/editicon.twig' with {'routename': 'set_facsimile_new_facsimileset', 'options': {'id': record.id}, 'icon': 'add'} %}
		</td>
	</tr>
{% endblock %}
{% block history %}
	{% for time, record in history|reverse(true) %}
	<tr>
		<td><span title="{{time|date("r")}}">{{ time|timeago }}</span></td>
		<td>{{ record.name }}</td>
	</tr>
	{% endfor %}
{% endblock %}
