{% extends 'edit/_partials/down.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/render_image.twig' import render_image %}
{% block title %}
	{{processstr(record.name) | striptags }} | Edit Systems
{% endblock %}
{% block head %}
	{{ parent() }}
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	{% if record.image %}
		<script>
			u(document).on("DOMContentLoaded", function() {
				var candr = new Candr.NodeEdit('view', "{{render_image(record.id, '')}}", null, true, {{record.zoom}});
				window.CandrCtx = candr;
				u('#zoom-status').html(Math.round(candr.canvas.zoom(0) * 100) + '%');
				{% for system in down %}
					candr.add_polygon(
						'{{system.id}}',
						{{ system.warp.nodes|json_encode() }},
						"{{path_for('view_system', {'id': system.id})}}",
						true,
						"{{path_for('delete_system', {'id': system.id})}}",
						{{loop.index}},
						"{{path_for('move_up_facsimile_system', {'id': record.id, 'tid': system.id})}}",
						"{{path_for('move_down_facsimile_system', {'id': record.id, 'tid': system.id})}}",
					);
				{% endfor %}
				var do_node_submit = function(url, n_add) {
					var nodes = candr.get_nodes();
					var form = u('<form>');
					form.attr({
						"action": url,
						"method": "post"
					});
					var input = u('<input>');
					input.attr({
						"value": JSON.stringify(nodes),
						"type": "hidden",
						"name": "nodes"
					});
					if(n_add > 0) {
						var n_input = u('<input>');
						n_input.attr({
							"value": n_add,
							"type": "hidden",
							"name": "n"
						});
						u('body').append(form.append(input).append(n_input));
					} else {
						u('body').append(form.append(input));
					}
					form.trigger("submit");
					form.nodes[0].submit();
				};
				u('#save-systems').on("click", function() {
					do_node_submit("{{path_for('set_facsimile_system_nodes', {'id': record.id})}}", 0);
				});
				u('#add-new-system').on("click", function() {
					var n_add = u('#n-add').first().value;
					do_node_submit("{{path_for('add_facsimile_new_system', {'id': record.id})}}", n_add);
				});
				u('#add-other-system').on("click", function() {
					do_node_submit("{{path_for('edit_facsimile_systems_from_other_facsimile', {'id': record.id})}}", 0);
				});
				u('#zoom-out').on("click", function() {
					var newzoom = candr.canvas.zoom(-0.1);
					u('#zoom-status').html(Math.round(newzoom * 100) + '%');
				});
				u('#zoom-in').on("click", function() {
					var newzoom = candr.canvas.zoom(0.1);
					u('#zoom-status').html(Math.round(newzoom * 100) + '%');
				});
			});
		</script>
	{% endif %}
{% endblock %}
{% block transcribingMessage %}
	{% if loggedin and loggedin.transcribing and loggedin.transcribing.model_id == 'facsimile' and loggedin.transcribing.id == record.id %}
		{% if down|length == 0 %}
			<p>Define some systems to begin transcribing</p>
		{% else %}
			{% set firstSys = down|first %}
			{% for system in down %}
				{% if firstSys.transcribed %}
					{% set firstSys = system %}
				{% endif %}
			{% endfor %}
			{% if firstSys.transcribed %}
				<p>All systems are transcribed. Mark facsimile as transcribed?</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('set_transcribe_facsimile', {'id': record.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% else %}
				<p>
					Start transcribing systems?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_system', {'id': firstSys.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block wizardStartTranscribe %}
	{% if loggedin and not loggedin.transcribing and not record.transcribed %}
		<div class="w-full">
			<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
				<p class="font-bold">	
					Transcribing Wizard
				</p>
				<p>
					Start transcribing here?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_facsimile', {'id': record.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>	
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block viewurl %}
	{{- path_for('view_facsimile', {'id': record.id}) -}}
{% endblock %}
{% block header %}
	Editing Systems of
	{% if record.name %}
		facsimile <i><a href="{{ block('viewurl') }}">{{processstr(record.name)}}</a></i>
	{% else %}
		<a href="{{ block('viewurl') }}">facsimile</a>
	{% endif %}
	of <a href="{{path_for('view_folio', {'id': folio.id})}}">{{processstr(folio.name)}}</a>
{% endblock %}
{% block loop %}
	{% if record.image %}
		<h2>Image: {% include '_partials/editicon.twig' with {'routename': 'edit_facsimile_image', 'options': {'id': record.id}} %}</h2>
		<div class="mb-1">
			<a class="cursor-pointer" id="add-new-system">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Add" class="addicon"></span>
					Add new system(s):
				</span>
			</a>
			<input id="n-add" type="number" min="1" value="1" class="w-20 text-black"/>
		</div>
		<div class="mb-1">
			<a class="cursor-pointer" id="add-other-system">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Add" class="addicon"></span>
					Add system from other facsimile
				</span>
			</a>
			<a id="save-systems" class="cursor-pointer">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Edit" class="editicon"></span>
					Save systems
				</span>
			</a>
			{% include '_partials/zoomcontrol.twig' %}
		</div>
		<canvas id="view" class="w-full"></canvas>
	{% else %}
		<h3><i>No image</i></h3>
		{% include '_partials/editicon.twig' with {'routename': 'edit_facsimile_image', 'icon': 'add', 'options': {'id': record.id}} %}
	{% endif %}
{% endblock %}
