{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	Add setting
{% endblock %}
{% from '_partials/render_image.twig' import render_image %}
{% block head %}
	{{ parent() }}
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	<script>
		u(document).on("DOMContentLoaded", function() {
			{% if transcribe %}
				var editor = new window.Candr.SystemSynchroniser('view', false, "{{render_image(transcribe.id, '')}}", [{{transcribe.warp.nodes|json_encode()|raw}}]);
				window.CandrCtx = editor;
				{% if items|length == 1 %}
					{% for staveid, dat in items %}
						{% set newdatitems = dat.items|map((i, k) => i|merge({'url': path_for('setting_add_from_item', {id: k})})) %}
						editor.add_stave('{{staveid}}', {{dat.warp|json_encode()|raw}}, {{newdatitems|json_encode()|raw}});
					{% endfor %}
				{% else %}
					{% for staveid, dat in items %}
						editor.add_stave('{{staveid}}', {{dat.warp|json_encode()|raw}}, {{dat.items|json_encode()|raw}});
					{% endfor %}
					{% for linkid, linkitems in links %}
						editor.add_link_by_id({{ linkitems.ids|json_encode()|raw }}, "{{path_for('setting_add_new', {'id':linkid})}}");
					{% endfor %}
				{% endif %}
				u('#increase-border').on("click", function() {
					editor.increase_border();
				});
				u('#decrease-border').on("click", function() {
					editor.decrease_border();
				});	
			{% endif %}
		});
	</script>
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_system', {'id': system.id})}}">System</a></li>
{% endblock %}
{% block header %}
	{% set folio = up|last %}
	<a href="{{path_for('view_system', {'id': system.id})}}">System</a> of <a href="{{path_for('view_folio', {'id': folio.id})}}">{{processstr(folio.name)}}</a>
	{% include '_partials/editicon.twig' with {'routename': 'delete_system', 'options': {'id': system.id}, 'icon': 'delete'} %}
{% endblock %}
{% block editparent %}
	(Transcribed from <a href="{{path_for('view_facsimile', {'id': transcribe.id})}}">{{processstr(transcribe.name)}}</a>)
	{% include '_partials/editicon.twig' with {'routename': 'edit_system_transcribe', 'options': {'id': system.id}} %}
{% endblock %}
{% block downheader %}
	<h2>
		{% if down|length > 1 %}
			Choose synchronisation line to add beginning of setting
		{% else %}
			Choose synchronisation item to add beginning of setting
		{% endif %}
	</h2>
{% endblock %}
{% block list %}
	{% if transcribe %}
		<div class="mb-1 select-none">
			<a class="cursor-pointer" id="increase-border">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Up" class="arrowupicon"></span>
					Increase Border
				</span>
			</a>
			<a class="cursor-pointer" id="decrease-border">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Down" class="arrowdownicon"></span>
					Decrease Border
				</span>
			</a>
		</div>
		<canvas id="view" class="w-full"></canvas>
		{% include '_partials/copyright.twig' with {'set': transcribe.set} %}
	{% else %}
		<h2>Transcribing fascsimile is not set</h2>
	{% endif %}
{% endblock %}
