{% extends 'edit/_partials/down.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/render_image.twig' import render_image %}
{% block title %}
	System | Edit Staves
{% endblock %}
{% block head %}
	{{ parent() }}
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	{% if record.transcribe %}
		<script>
			u(document).on("DOMContentLoaded", function() {
				var candr = new window.Candr.NodeEdit('view', "{{render_image(record.transcribe.id, '')}}", [{{record.transcribe.warp.nodes|json_encode()|raw}}], true, {{record.zoom}});
				window.CandrCtx = candr;
				{% for stave in down %}
					candr.add_polygon('{{stave.id}}', {{ stave.warp.nodes|json_encode()|raw }}, "{{path_for('view_stave', {'id': stave.id})}}", true, "{{path_for('delete_stave', {'id': stave.id})}}", {{loop.index}});
				{% endfor %}
				u('#increase-border').on("click", function() {
					candr.increase_border();
				});
				u('#decrease-border').on("click", function() {
					candr.decrease_border();
				});	
				var do_node_submit = function(url, n_add) {
					var nodes = candr.get_nodes();
					var form = u('<form>');
					form.attr({
						"action": url,
						"method": "post"
					});
					var input = u('<input>');
					input.attr({
						"value": JSON.stringify(nodes),
						"type": "hidden",
						"name": "nodes"
					});
					if(n_add > 0) {
						var n_input = u('<input>');
						n_input.attr({
							"value": n_add,
							"type": "hidden",
							"name": "n"
						});
						u('body').append(form.append(input).append(n_input));
					} else {
						u('body').append(form.append(input));
					}
					form.trigger("submit");
					form.nodes[0].submit();
				};
				u('#save-staves').on("click", function() {
					do_node_submit("{{path_for('set_system_stave_nodes', {'id': record.id})}}", 0);
				});
				u('#add-new-stave').on("click", function() {
					var n_add = u('#n-add').first().value;
					do_node_submit("{{path_for('add_system_new_stave', {'id': record.id})}}", n_add);
				});
			});
		</script>
	{% endif %}
{% endblock %}
{% block viewurl %}
	{{- path_for('view_system', {'id': record.id}) -}}
{% endblock %}
{% block transcribingMessage %}
	{% if loggedin and loggedin.transcribing and loggedin.transcribing.model_id == 'system' and loggedin.transcribing.id == record.id %}
		{% if down|length == 0 %}
			<p>Define some staves to begin transcribing</p>
		{% else %}
			{% set firstStv = down|first %}
			{% for stave in down %}
				{% if firstStv.transcribed %}
					{% set firstStv = stave %}
				{% endif %}
			{% endfor %}
			{% if firstStv.transcribed %}
				<p>All staves are transcribed. Mark system as transcribed?</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('set_transcribe_system', {'id': record.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% else %}
				<p>
					Start transcribing staves?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_stave', {'id': firstStv.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block wizardStartTranscribe %}
	{% if loggedin and not loggedin.transcribing and not record.transcribed %}
		<div class="w-full">
			<div class="text-left bg-blue-100 border-l-4 border-blue-400 text-blue-800 inline-block p-4 my-4 mx-2 w-auto" role="alert">
				<p class="font-bold">	
					Transcribing Wizard
				</p>
				<p>
					Start transcribing here?
				</p>
				<div class="text-center mt-2">
					<form class="inline" action="{{path_for('begin_transcribe_system', {'id': record.id})}}">
						<button class="m-auto" type="submit">Yes</button>
					</form>
				</div>	
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block header %}
	Editing Staves of <a href="{{ block('viewurl') }}">System</a> of <a href="{{path_for('view_folio', {'id': folio.id})}}">{{processstr(folio.name)}}</a>
{% endblock %}
{% block loop %}
	<p class="-mt-2">(Transcribed from <a href="{{path_for('view_facsimile', {'id': record.transcribe.id})}}">{{processstr(record.transcribe.name)}}</a>)</p>
	{% if record.transcribe %}
		<h2>Staves:</h2>
		<div class="mb-1 select-none">
			<a id="add-new-stave" class="cursor-pointer">
				{% if loggedin.transcribing.model_id == 'system' and loggedin.transcribing.id == record.id and down|length == 0 %}
					<span class="inline-block rounded border-blue-400 border-2 p-1 shadow-md">
						<span title="Add" class="addicon"></span>
						Add new stave(s):
					</span>
				{% else %}
					<span class="inline-block rounded border-black border p-1 shadow-md">
						<span title="Add" class="addicon"></span>
						Add new stave(s):
					</span>
				{% endif %}
			</a>
			<input id="n-add" type="number" min="1" value="1" class="w-20 text-black mr-2"/>
			<a id="save-staves" class="cursor-pointer">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Edit" class="editicon"></span>
					Save staves
				</span>
			</a>
		</div>
		<div class="mb-1 select-none">
			<a class="cursor-pointer" id="increase-border">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Up" class="arrowupicon"></span>
					Increase Border
				</span>
			</a>
			<a class="cursor-pointer" id="decrease-border">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Down" class="arrowdownicon"></span>
					Decrease Border
				</span>
			</a>
			<a class="cursor-pointer" id="synchronise-staves" href="{{path_for('system_edit_sync', {'id': record.id})}}">
				<span class="rounded border-black border p-1 shadow-md">
					<span title="Synchronise" class="syncicon"></span>
					Synchronise Staves
				</span>
			</a>
			<a class="cursor-pointer" id="add-setting" href="{{path_for('system_sync_setting_add', {'id': record.id})}}">
				<span class="rounded border-black border p-1 shadow-md">
					<span title="Add Setting" class="addicon"></span>
					Add Setting
				</span>
			</a>
		</div>
		<canvas id="view" class="w-full"></canvas>
	{% else %}
		<h2>System transcribe facsimile is not set</h2>
		<p><a href="{{path_for('edit_system_transcribe', {'id': record.id})}}">Click here</a> to set it</p>
	{% endif %}
{% endblock %}
