{% extends 'browse/_partials/generalcategory.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% block title %}
	System Synchronisation
{% endblock %}
{% from '_partials/render_image.twig' import render_image %}
{% block head %}
	{{ parent() }}
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	<script>
		u(document).on("DOMContentLoaded", function() {
			{% if transcribe %}
				var editor = new window.Candr.SystemSynchroniser('view', true, "{{render_image(transcribe.id, '')}}", [{{transcribe.warp.nodes|json_encode()|raw}}]);
				window.CandrCtx = editor;
				{% for staveid, dat in items %}
					editor.add_stave('{{staveid}}', {{dat.warp|json_encode()|raw}}, {{dat.items|json_encode()|raw}});
				{% endfor %}
				{% for linkid, linkitems in links %}
					editor.add_link_by_id({{ linkitems.ids|json_encode()|raw }}, null, {{ linkitems.setting ? 'false' : 'true' }});
				{% endfor %}
				u('#increase-border').on("click", function() {
					editor.increase_border();
				});
				u('#decrease-border').on("click", function() {
					editor.decrease_border();
				});	
				u('#save-links').on("click", function() {
					var links = editor.get_links();
					var form = u('<form>');
					form.attr({
						"action": "{{path_for('system_set_sync', {'id': system.id})}}",
						"method": "post"
					});
					var input = u('<input>');
					input.attr({
						"value": JSON.stringify(links),
						"type": "hidden",
						"name": "links"
					});
					u('body').append(form.append(input));
					form.trigger("submit");
					form.nodes[0].submit();
				});
			{% endif %}
		});
	</script>
{% endblock %}
{% block transcribingMessage %}
	{% if loggedin.transcribing.model_id == 'system' and loggedin.transcribing.id == system.id %}
		{% if links|length == 0 %}
			<p>Click on items from different staves to link them together. Click on an existing link to delete it</p>
		{% else %}
			<p>Return to system</p>
			<div class="text-center mt-2">
				<form class="inline" action="{{path_for('view_system', {'id': system.id})}}">
					<button class="m-auto" type="submit">Return</button>
				</form>
			</div>
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block nav %}
	{{ parent() }}
	<li class="inline-block relative mr-1"><a href="{{path_for('view_system', {'id': system.id})}}">System</a></li>
{% endblock %}
{% block header %}
	{% set folio = up|last %}
	<a href="{{path_for('view_system', {'id': system.id})}}">System</a> of <a href="{{path_for('view_folio', {'id': folio.id})}}">{{processstr(folio.name)}}</a>
	{% include '_partials/editicon.twig' with {'routename': 'delete_system', 'options': {'id': system.id}, 'icon': 'delete'} %}
{% endblock %}
{% block editparent %}
	(Transcribed from <a href="{{path_for('view_facsimile', {'id': transcribe.id})}}">{{processstr(transcribe.name)}}</a>)
	{% include '_partials/editicon.twig' with {'routename': 'edit_system_transcribe', 'options': {'id': system.id}} %}
{% endblock %}
{% block downheader %}
	<h2>
		System synchronisation
	</h2>
{% endblock %}
{% block list %}
	{% if transcribe %}
		<div class="mb-1 select-none">
			<a class="cursor-pointer" id="save-links">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Edit" class="editicon"></span>
					Save links
				</span>
			</a>
			<a class="cursor-pointer" id="add-setting" href="{{path_for('system_sync_setting_add', {'id': system.id})}}">
				<span class="rounded border-black border p-1 shadow-md">
					<span title="Add Setting" class="addicon"></span>
					Add Setting
				</span>
			</a>
		</div>
		<div class="mb-1 select-none">
			<a class="cursor-pointer" id="increase-border">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Up" class="arrowupicon"></span>
					Increase Border
				</span>
			</a>
			<a class="cursor-pointer" id="decrease-border">
				<span class="inline-block rounded border-black border p-1 shadow-md">
					<span title="Down" class="arrowdownicon"></span>
					Decrease Border
				</span>
			</a>
		</div>
		<canvas id="view" class="w-full"></canvas>
		{% include '_partials/copyright.twig' with {'set': transcribe.set} %}
	{% else %}
		<h2>Transcribing fascsimile is not set</h2>
	{% endif %}
{% endblock %}
