{% extends 'edit/_partials/up.twig' %}
{% from '_partials/processstr.twig' import processstr %}
{% from '_partials/render_image.twig' import render_image %}
{% block title %}
	System | Edit Transcribing Facsimile
{% endblock %}
{% block viewurl %}
	{{- path_for('view_system', {'id': record.id}) -}}
{% endblock %}
{% block header %}
	Editing Transcribing Facsimile of <a href="{{ block('viewurl') }}">System</a>
{% endblock %}
{% block inputlabel %}
	Facsimiles (click on facsimile to set):
{% endblock %}
{% block loop %}
	{% set currentid = 0 %}
	{% if record.transcribe %}
		{% set currentid = record.transcribe.id %}
	{% endif %}
	{% for alt in facsimiles %}
		<tr>
			<td>
				<a href="{{path_for('view_facsimile', {'id': alt.id})}}">{{ processstr(alt.name) }}</a>
				<a href="{{path_for('set_system_transcribe', {'id': record.id, 'tid': alt.id})}}">
					<img src="{{render_image(alt.id, 'thumb')}}" class="max-w-xl"/>
				<a/>
			</td>
			<td>
				{% if currentid == alt.id %}
					{% include '_partials/greyedout_editicon.twig' with {'icon': 'add'} %}
				{% else %}
					{% include '_partials/editicon.twig' with {'routename': 'set_system_transcribe', 'options': {'id': record.id, 'tid': alt.id}, 'icon': 'add'} %}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
{% endblock %}
{% block history %}
	{% for time, record in history|reverse(true) %}
		<tr>
			<td><span title="{{time|date("r")}}">{{ time|timeago }}</span></td>
			<td><a href="{{path_for('view_facsimile', {'id': record.id})}}">{{processstr(record.name)}}</a></td>
		</tr>
	{% endfor %}
{% endblock %}
